<jnt-container>

  <jnt-app-page-header [icon]="localUi.icons.gantt"
                       title="Gantt"
                       i18n-title="@@label.gantt"
                       [teaser]="handbook.collections.components.gantt.teaser">

    <ng-template #headerActionsTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal">
        <jnt-link [icon]="ui.icons.gitlab"
                  [outline]="ui.outline.ghost"
                  [source]="gitlab"
                  target="_blank" title="GitLab"
                  i18n-title="@@action.gitlab">
        </jnt-link>
        <jnt-link [icon]="ui.icons.figma"
                  [outline]="ui.outline.ghost"
                  [source]="figma"
                  target="_blank" title="Figma"
                  i18n-title="@@action.figma">
        </jnt-link>
      </jnt-stack>

    </ng-template>
  </jnt-app-page-header>


  <jnt-tabs [features]="[ui.feature.adapted]">

    <jnt-tab title="Preview"
             i18n-title="@@label.preview"
             [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <jnt-stack>
          <form [formGroup]="builder">
            <jnt-stack [orientation]="ui.orientation.horizontal">
              <jnt-form-item [orientation]="ui.orientation.horizontal"
                             [gutter]="ui.gutter.small"
                             [align]="ui.align.center">
                <jnt-form-label for="ganttType"
                                i18n="@@label.gender">Gantt type</jnt-form-label>
                <jnt-switcher formControlName="ganttType">
                  <jnt-switcher-option label="Month"
                                       i18n-label="@@label.month"
                                       [value]="ganttType.month"></jnt-switcher-option>
                  <jnt-switcher-option label="Year"
                                       i18n-label="@@label.year"
                                       [value]="ganttType.year"></jnt-switcher-option>
                </jnt-switcher>
              </jnt-form-item>

              <jnt-form-item [orientation]="ui.orientation.horizontal"
                             [gutter]="ui.gutter.small"
                             [align]="ui.align.center">
                <jnt-form-label for="width"
                                i18n="@@label.width">Width
                </jnt-form-label>
                <jnt-switcher formControlName="width"
                              placeholder="Default"
                              i18n-primary="@@label.default">
                  <jnt-switcher-option label="Default"
                                       i18n-label="@@label.default"
                                       [icon]="localUi.icons.default"
                                       [value]="ui.width.default"></jnt-switcher-option>
                  <jnt-switcher-option label="Fluid"
                                       i18n-label="@@label.fluid"
                                       [icon]="localUi.icons.fluid"
                                       [value]="ui.width.fluid"></jnt-switcher-option>
                </jnt-switcher>
              </jnt-form-item>

                <jnt-button-group [scheme]="ui.scheme.secondary">
                  <jnt-button [icon]="ui.icons.reload"></jnt-button>
                  <jnt-button (click)="add()" [icon]="ui.icons.add"></jnt-button>
                  <jnt-button (click)="remove()" [icon]="ui.icons.delete"></jnt-button>
                </jnt-button-group>
            </jnt-stack>
          </form>

          <app-browser-preview preview>
            <ng-template #document let-width="width" let-height="height">
              <jnt-block [padding]="ui.gutter.none" [width]="ui.width.fluid">
                <jnt-form [formGroup]="form" data-form>

                  <jnt-gantt title="Employee"
                             i18n-title="@@label.employee"
                             formControlName="ganttDate"
                             [loading]="progress.loading || progress.add || progress.remove || progress.reload"
                             [width]="widthControl.value"
                             [type]="ganttTypeControl.value === 'month' ? ui.gantt.type.month : ui.gantt.type.year">
                    <ng-template #titleTemplate>
                      <strong>Test custom title</strong>
                    </ng-template>
                    <jnt-gantt-line *ngFor="let request of requests"
                                    [title]="request.createdBy.login">
                      <ng-container *ngFor="let period of request.periods">
                        <jnt-gantt-line-period [from]="period.from"
                                               [to]="period.to">
                          <ng-template #indicatorMonthTemplate let-current="current" let-today="today">
                            <div [attr.accepting]="period['status'] === statuses.accepting"
                                 [attr.accepted]="period['status'] === statuses.accepted"
                                 [attr.declined]="period['status'] === statuses.declined"
                                 [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                                 [attr.self-expense]="period['selfExpense']"
                                 [attr.short]="period['to'] | dfnsDifferenceInDays:period['from'] < 3"
                                 [attr.over-from]="(period['from'] | fullMonth) < (current | fullMonth)"
                                 [attr.over-to]="(period['to'] | fullMonth) > (current | fullMonth)" period>
                              <span label>
                                {{(period['to'] | dfnsDifferenceInDays:period['from']) + 1 }} days
                              </span>
                            </div>
                          </ng-template>

                          <ng-template #indicatorYearTemplate let-current="current" let-today="today">
                            <div [attr.accepting]="period['status'] === statuses.accepting"
                                 [attr.accepted]="period['status'] === statuses.accepted"
                                 [attr.declined]="period['status'] === statuses.declined"
                                 [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                                 [attr.self-expense]="period['selfExpense']"
                                 [attr.short]="period['to'] | dfnsDifferenceInMonths:period['from'] < 2"
                                 [attr.over-from]="(period['from'] | dfnsGetYear) < (current | dfnsGetYear)"
                                 [attr.over-to]="(period['to'] | dfnsGetYear) > (current | dfnsGetYear)" period>
                            <span label>
                              {{(period['to'] | dfnsDifferenceInDays:period['from']) + 1 }} days
                            </span>
                            </div>
                          </ng-template>
                        </jnt-gantt-line-period>
                      </ng-container>
                    </jnt-gantt-line>
                  </jnt-gantt>
                </jnt-form>
              </jnt-block>
            </ng-template>
          </app-browser-preview>
        </jnt-stack>
      </ng-template>
    </jnt-tab>

    <jnt-tab #code title="Code"
             i18n-title="@@label.code"
             [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <jnt-accordion [active]="1">
          <jnt-accordion-section title="How to start"
                                 i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'gantt-test', type: 'GanttTestComponent'}"
                scss="collections/gantt"></app-how-to-use>
            </ng-template>
          </jnt-accordion-section>
          <jnt-accordion-section title="Component template"
                                 i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="gantt-test.component.html" [language]="language.xml">
<!-- @formatter:off-->
<![CDATA[
  <form [formGroup]="form">
    <jnt-gantt formControlName="gantt" [type]="ui.gantt.type.]]>{{ganttTypeControl.value}}<![CDATA[" title="Super" [loading]="loading">
    <ng-template #ganttToolsTemplate>
      <jnt-button text="Reload" [icon]="ui.icons.reload"></jnt-button>
    </ng-template>
    <ng-template #ganttTitleTemplate>
      <strong>Test custom title</strong>
    </ng-template>
      <jnt-gantt-line *ngFor="let request of requests"
        [period]="request"
        [from]="request.from"
        [to]="request.to"
        [title]="request.createdBy.login">
        <ng-container *ngFor="let period of request.periods">
          <jnt-gantt-line-period [from]="period.from"
                                 [to]="period.to">
            <ng-template ]]>{{ganttTypeControl.value === 'month' ? '#indicatorMonthTemplate' : '#indicatorYearTemplate'}}<![CDATA[ let-current="current" let-today="today">
              <div [attr.accepting]="period['status'] === statuses.accepting"
                [attr.accepted]="period['status'] === statuses.accepted"
                [attr.declined]="period['status'] === statuses.declined"
                [attr.used]="(period['to'] | dfnsDifferenceInDays:today) < 0"
                [attr.self-expense]="period['selfExpense']"
                [attr.short]="(period['to'] | after: current) - (period['from'] | before: current) < 3"
                [attr.over-from]="(period['from'] | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[) < (current | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[)"
                [attr.over-to]="(period['to'] | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[) > (current | ]]>{{ganttTypeControl.value === 'month' ? 'fullMonth' : 'dfnsGetYear'}}<![CDATA[)" period>
                <span label> ]]>
                  {{ <![CDATA[ (period['to'] | dfnsDifferenceInDays:period['from']) + 1 ]]> }} <![CDATA[ days
                </span>
              </div>
            </ng-template>
          </jnt-gantt-line-period>
        </ng-container>
      </jnt-gantt-line>
    </jnt-gantt>
  </form>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </jnt-accordion-section>
        </jnt-accordion>
      </ng-template>
    </jnt-tab>

    <jnt-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <jnt-stack [align]="ui.align.stretch">
          <app-component-api selector="jnt-gantt" [target]="types.gantt"></app-component-api>
          <app-component-api selector="jnt-gantt-line" [target]="types.line"></app-component-api>
        </jnt-stack>
      </ng-template>
    </jnt-tab>
  </jnt-tabs>
</jnt-container>
