<jnt-container>
  <h1>Skeleton</h1>

  <h3>Requirements</h3>

  <ol>

    <li>The avatar in skeleton must have different sizes: small, normal, large</li>
    <li>Skeleton can have avatar, title and paragraphs</li>
    <li>In the paragraph may change the count of rows</li>
    <li>Skeleton may have animation</li>
  </ol>

  <hr>

  <jnt-stack>

    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [avatar]="true" [rows]="3"></jnt-skeleton>
      </div>
    </jnt-block>

    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [avatar]="true" [size]="ui.sizes.large" [rows]="3"></jnt-skeleton>
      </div>
    </jnt-block>

    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [title]="false" [avatar]="true" [rows]="3"></jnt-skeleton>
      </div>
    </jnt-block>


    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [title]="false" [rows]="3"></jnt-skeleton>
      </div>
    </jnt-block>

    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [rows]="3"></jnt-skeleton>
      </div>
    </jnt-block>

    <jnt-block [fluid]="true">
      <div style="padding: 30px">
        <jnt-skeleton [avatar]="true"></jnt-skeleton>
      </div>
    </jnt-block>

  </jnt-stack>

  <ngx-prism language="html">
<pre>
&lt;jnt-skeleton [title]="true" [avatar]="true" [rows]="5" [size]="ui.sizes.large"&gt;&lt;/jnt-skeleton&gt;</pre>
  </ngx-prism>

  <h3>API</h3>
  <h4>jnt-skeleton</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[title]</td>
      <td>-</td>
      <td>true | false</td>
      <td>true</td>
    </tr>
    <tr>
      <td>[avatar]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[rows]</td>
      <td>-</td>
      <td>number</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
