<jnt-container>
  <h1>Skeleton</h1>

  <h3>Requirements</h3>

  <ol>

    <li>The avatar in skeleton must have different sizes: small, normal, large</li>
    <li>Skeleton can have avatar, title and paragraphs</li>
    <li>In the paragraph may change the count of rows</li>
    <li>Skeleton may have animation</li>
  </ol>

  <hr>

  <h3>Sources</h3>

  <ul>
    <li>
      <jnt-link source="https://gitlab.com/junte/junte-ui/tree/master/projects/junte-ui/src/lib/components/skeleton"
                target="_blank">
        GitLab
      </jnt-link>
    </li>
    <li>
      <jnt-link source="https://www.figma.com/file/EIUNwZCXL9Nm5BKQKl43mfDr/Junte-UI?node-id=1270%3A539"
                target="_blank">
        Figma
      </jnt-link>
    </li>
  </ul>

  <hr>

  <jnt-stack>

    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [avatar]="true" [rows]="3"></jnt-skeleton>
    </jnt-block>

    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [avatar]="true" [size]="ui.sizes.large" [rows]="3"></jnt-skeleton>
    </jnt-block>

    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [title]="false" [avatar]="true" [rows]="3"></jnt-skeleton>
    </jnt-block>


    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [title]="false" [rows]="3"></jnt-skeleton>
    </jnt-block>

    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [rows]="3"></jnt-skeleton>
    </jnt-block>

    <jnt-block [width]="ui.width.fluid" [padding]="ui.padding.normal">
        <jnt-skeleton [avatar]="true"></jnt-skeleton>
    </jnt-block>

  </jnt-stack>

  <ngx-prism language="html">
<pre><![CDATA[
<jnt-skeleton [title]="true" [avatar]="true" [rows]="5" [size]="ui.sizes.large"></jnt-skeleton>
]]></pre>
  </ngx-prism>

  <h3>API</h3>
  <h4>jnt-skeleton</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[title]</td>
      <td>-</td>
      <td>true | false</td>
      <td>true</td>
    </tr>
    <tr>
      <td>[avatar]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[rows]</td>
      <td>-</td>
      <td>number</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
