//noinspection ALL
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
  url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
  url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

<% _.each(glyphs, function(glyph) { %>.<%= className %>-<%= glyph.name %>:before {
  content: "\<%= glyph.unicode[0] %>"
}
<% }); %>
