@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[footer] {
  padding: $gutter-normal;
  background-color: $page-background;
  border-bottom-left-radius: $corner-normal;
  border-bottom-right-radius: $corner-normal;
}
