<jnt-form [formGroup]="selectIcon">
  <jnt-accordion>
    <jnt-accordion-section *ngFor="let tag of tags"
                           [title]="tag.name">
      <ng-template #accordionContentTemplate>
        <div formControlName="icon" data-icon *ngFor="let icon of (tag.icons | getIcons)"
             [jntSelectable]="{value: {value: icon.icon, path: tag.path, name: icon.name}}">
          <jnt-icon [icon]="icon.icon"
                    [attr.title]="icon.name">
          </jnt-icon>
        </div>
      </ng-template>
    </jnt-accordion-section>
  </jnt-accordion>
</jnt-form>
