<jnt-container>
  <h1>Radio</h1>

  <jnt-stack [type]="ui.stack.type.vertical">
    <jnt-radio>Radio</jnt-radio>
    <jnt-radio [checked]="true">Radio checked</jnt-radio>
    <jnt-radio [disabled]="true">Radio disabled</jnt-radio>
    <jnt-radio [checked]="true" [disabled]="true">Radio disabled & checked</jnt-radio>
  </jnt-stack>

    <ngx-prism language="html">
    <pre>&lt;jnt-radio [checked]="true" [disabled]="false"&gt;Radio&lt;/jnt-radio&gt;</pre>
    </ngx-prism>

  <h3>API</h3>
  <h4>jnt-radio</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[checked]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[disabled]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
