<jnt-container>
  <h1>Radio</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The radio should change the display when it is disabled and disabled & checked</li>
    <li>The radio should respond to mouse hover, click</li>
  </ol>

  <hr>

  <jnt-stack [type]="ui.stack.type.vertical">
    <h3>Radio</h3>
    <jnt-radio>Radio</jnt-radio>
    <jnt-radio [checked]="true">Radio checked</jnt-radio>
    <jnt-radio [disabled]="true">Radio disabled</jnt-radio>
    <jnt-radio [checked]="true" [disabled]="true">Radio disabled & checked</jnt-radio>
  </jnt-stack>

  <ngx-prism language="html">
<pre><![CDATA[
<jnt-radio [checked]="true" [disabled]="false">Radio</jnt-radio>
]]></pre>
  </ngx-prism>

  <jnt-stack [type]="ui.stack.type.vertical">
    <h3>Radio Group</h3>
    Selected: {{selected}}
    <jnt-radio-group [(ngModel)]="selected">
      <jnt-stack [gutter]="ui.stack.gutter.small">
        <jnt-radio [value]="1">Radio 1</jnt-radio>
        <jnt-radio [value]="2">Radio 2</jnt-radio>
        <jnt-radio [value]="3">Radio 3</jnt-radio>
      </jnt-stack>
    </jnt-radio-group>
  </jnt-stack>

  <ngx-prism language="html">
    <pre><![CDATA[
<jnt-radio-group [(ngModel)]="selected">
  <jnt-radio [value]="1">Radio 1</jnt-radio>
  <jnt-radio [value]="2">Radio 2</jnt-radio>
  <jnt-radio [value]="3">Radio 3</jnt-radio>
</jnt-radio-group>
    ]]></pre>
  </ngx-prism>

  <h3>API</h3>
  <h4>jnt-radio</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[checked]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[disabled]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
