apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/enable-cors: "true"
    {{ if .Values.www_domain }}nginx.ingress.kubernetes.io/from-to-www-redirect: "true"{{ end }}
spec:
  tls:
  - hosts:
    - {{ .Values.domain }}
    {{ if .Values.www_domain }}- www.{{ .Values.domain}}{{ end }} 
    secretName: tls-hosts
  rules:
  - host: {{ if .Values.www_domain }}www.{{ end  }}{{ .Values.domain }}
    http:
      paths:
      - path: /
        backend:
          serviceName: frontend
          servicePort: 8080

