@import "../../component";
@import "layout/responsive/responsive";
@import "elements/icon/icon";

[data-card] {
  min-width: 500px;
  @include for-mobile() {
    min-width: 100%;
    max-width: 100%;
  }

  [data-header] {
    padding: $jnt-gutter-normal;
    color: $jnt-primary-color;
    font-size: $jnt-font-size-normal;
    @include jnt-icon((size: 20px), '&', true);
  }

  [data-title] {
    font-size: $jnt-font-size-normal;
    padding: $jnt-gutter-normal;
  }
}
