@import '../../component';
@import 'layout/responsive';
@import 'elements/icon';
$jnt-ng-deep: true;

[data-card] {
  min-width: 500px;
  @include for-mobile() {
    min-width: 100%;
    max-width: 100%;
  }

  [data-header] {
    color: $jnt-primary-color;
    font-size: $jnt-font-size-normal;
    @include jnt-icon((size: 20px), '&');
  }

  [data-title] {
    font-size: $jnt-font-size-normal;
  }
}
