# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

/package-lock.json
/projects/junte-ui/package-lock.json

/projects/junte-ui/node_modules

/projects/junte-ui/src/lib/assets/styles/**/*
!/projects/junte-ui/src/lib/assets/styles/_jnt-variables.scss
!/projects/junte-ui/src/lib/assets/styles/_jnt-functions.scss
!/projects/junte-ui/src/lib/assets/styles/jnt-all.scss
!/projects/junte-ui/src/lib/assets/styles/jnt-common.scss
!/projects/junte-ui/src/lib/assets/styles/jnt-default.scss
!/projects/junte-ui/src/lib/assets/styles/jnt-mixins.scss
!/projects/junte-ui/src/lib/assets/styles/_jnt-hosts.scss
/projects/junte-ui/src/lib/assets/fonts/junte-ui-icons-default
/projects/junte-ui/**/*.encapsulated.html
/projects/junte-ui/**/*.encapsulated.scss
/projects/junte-ui/src/scripts/encapsulation.ts
/src/assets/themes/*.css
/src/assets/fonts/junte-ui/
/src/assets/fonts/junte-ui-test-default/
/src/assets/fonts/junte-ui-test-layout/

/src/locale/messages.xlf
