<jnt-container>
  <h1>Icon</h1>
  <jnt-stack [type]="ui.stack.type.horizontal">
    <ng-container *ngFor="let icon of [ui.icons.check, ui.icons.plus, ui.icons.cancel, ui.icons.close, ui.icons.search, ui.icons.arrowRight,
    ui.icons.resize, ui.icons.expand, ui.icons.sort, ui.icons.arrowLast]">
      <jnt-icon [icon]="icon"></jnt-icon>
    </ng-container>
  </jnt-stack>

    <ngx-prism language="html">
    <pre>&lt;jnt-icon [icon]="ui.icons.check"&gt;&lt;/jnt-icon&gt;</pre>
    </ngx-prism>

</jnt-container>

