@import "variables";


[wrapper] {
  width: 10%;
  padding: $gutter-normal;
  box-sizing: border-box;
  text-align: center;
  [icon] {
    font-size: 30px;
  }
  [name] {
    font-size: $font-size-small;
    color: $gray-800;
    margin-top: $gutter-tiny;
  }
}


