@import "../../../../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
  position: relative;
  &[with-name='true'] {
    border: 1px solid $secondary-color;
    margin: $gutter-normal;
    padding-top: $gutter-normal;
  }
}

[name] {
  position: absolute;
  top: -($gutter-small);
  left: -($gutter-small);
  div {
    font-size: $font-size-small;
    color: $primary-text-inverse-color;
    background: $primary-color;
    border-radius: $corner-small;
    padding: 0 $gutter-tiny;
    border: 1px solid $secondary-color;
  }
}

[icons] {
  padding: $gutter-tiny;
}
