<jnt-container>
  <h1>Switch</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The switch should show the loading</li>
    <li>The switch should respond to mouse hover, click</li>
    <li>The button should change the display when it is disabled and disabled & checked</li>
  </ol>

  <hr>

  <jnt-stack [type]="ui.stack.type.vertical">
    <jnt-switch label="Switch"></jnt-switch>
    <jnt-switch [checked]="true" label="Switch checked"></jnt-switch>
    <jnt-switch [disabled]="true" label="Switch disabled"></jnt-switch>
    <jnt-switch [checked]="true" [disabled]="true" label="Switch disabled & checked"></jnt-switch>
  </jnt-stack>

    <ngx-prism language="html">
<pre><![CDATA[
<jnt-switch [checked]="true" [disabled]="false" label="Switch"></jnt-switch>
]]></pre>
    </ngx-prism>

  <h3>API</h3>
  <h4>jnt-switch</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[checked]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[disabled]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[label]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
