<jnt-container>
  <h1>Switch</h1>

  <jnt-stack [type]="ui.stack.type.vertical">
    <jnt-switch>Switch</jnt-switch>
    <jnt-switch [checked]="true">Switch checked</jnt-switch>
    <jnt-switch [disabled]="true">Switch disabled</jnt-switch>
    <jnt-switch [checked]="true" [disabled]="true">Switch disabled & checked</jnt-switch>
  </jnt-stack>

  <jnt-block>
    <ngx-prism language="html">
    <pre>&lt;jnt-switch [checked]="true" [disabled]="false"&gt;Switch&lt;/jnt-switch&gt;</pre>
    </ngx-prism>
  </jnt-block>

  <h3>API</h3>
  <h4>jnt-switch</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[checked]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[disabled]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
