:host {
  display: block;
}

span {
  display: inline-block;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
