@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[playground] ::ng-deep [tab]:nth-child(1) svg path {
  fill: url(#purple-light);
}

[playground] ::ng-deep [tab]:nth-child(2) svg path {
  fill: url(#green-light);
}

[playground] ::ng-deep [tab]:nth-child(3) svg path {
  fill: url(#red-light);
}

[playground] ::ng-deep [tab]:nth-child(4) svg path {
  fill: url(#yellow-light);
}
