@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
  position: relative;
  [wrapper] {
    position: absolute;
    top: 10.85%;
    left: 1px;
    right: 0;
    bottom: 6.25%;
    overflow-y: scroll;
    padding: $gutter-big;
  }
}

svg {
  width: 100%;
  height: auto;
  border-radius: $corner-normal;
  border: 1px solid $secondary-color;
}
