@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
  position: relative;
  [wrapper] {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
    bottom: 10%;
    overflow: hidden;
    border: 1px solid #fefefe;
    box-sizing: border-box;
  }
}

svg {
  width: 100%;
  height: auto;
  border-radius: $corner-normal;
  border: 1px solid $secondary-color;
}
