@import 'jnt-variables';
@import 'elements/icon';
$jnt-ng-deep: true;

:host {
  display: block;
}

h1, h2 {
  text-align: center;
}

h3 {
  color: $jnt-primary-color;
}

h1 {
  span {
    border: 3px solid $jnt-primary-text-color;
    border-radius: $jnt-corner-normal;
    padding: 0 $jnt-gutter-small;
    background: $jnt-secondary-color;
    color: $jnt-green-dark-color;
  }
}

h2 [arnold] {
  @include jnt-icon((
    size: 48px
  ), '&');
}

p {
  jnt-icon {
    @include jnt-icon((
      size: 16px
    ), '&');
  }
}

h5 {
  jnt-icon {
    @include jnt-icon((
      size: 20px
    ), '&');
  }
}

app-code-highlight::ng-deep {
  pre {
    background-color: $jnt-white-color;
  }
}
