@import "variables";
@import "elements/icon/icon";

:host {
  display: block;
}

h1, h2 {
  text-align: center;
}

h3 {
  color: $jnt-primary-color;
}

h1 {
  span {
    border: 3px solid $jnt-primary-text-color;
    border-radius: $jnt-corner-normal;
    padding: 0 $jnt-gutter-small;
    background: $jnt-secondary-color;
    color: $jnt-green-dark-color;
  }
}

h2 [arnold] {
  @include icon((
    size: 48px,
  ), '&', true);
}

p {
  jnt-icon {
    @include icon((
      size: 16px,
    ), '&', true);
  }
}

h5 {
  jnt-icon {
    @include icon((
      size: 20px,
    ), '&', true);
  }
}
