@import "../../projects/junte-ui/src/lib/assets/styles/elements/icon/icon.scss";

@include icon();

[my-link] {
  @include icon((
    size: null,
    sizes: (
      auto: (
        size: 18px,
      )
    )
  ), '&');
}

/*
../../node_modules/.bin/node-sass ./link.scss --include-path ../../projects/junte-ui/src/lib/assets/styles
 */
