@use "label" as l;

[host=jnt-lp-slide] {
  [badge]{
    @include l.label((color: green,
      text: (margin-bottom: 10px)));
  }

}

[host=jnt-app-layout] {
  @include l.label((color: yellow,
    text: (margin-bottom: 50px)));
}

[host=jnt-button] {
  @include l.label((color: yellow,
    text: (margin-bottom: 50px)));

  $a: (
    a: 15px,
    b: 25px
  );

  font-size: map-get($a, b);

}
