@import "variables";

:host {
  display: block;
}

table[api] {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Oxygen Mono', monospace;

  td, th {
    padding: $jnt-gutter-small;
    border: 1px solid $jnt-gray-700-color;
  }

  th {
    background-color: $jnt-secondary-background;
  }

  td:nth-child(1) {
    width: 20%;
  }

  td:nth-child(4) {
    width: 20%;
  }

  td:nth-child(3) {
    color: $jnt-primary-text-color;
    width: 40%;
  }
}
