@import '../../component';

[bar-size='tiny'] {
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
}

[bar-size='small'] {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
}

[bar-size='normal'] {
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
}

[bar-size='big'] {
  width: 200px;
  min-width: 200px;
  height: 200px;
  min-height: 200px;
}

