@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[option] {
  padding: $gutter-small;
  border: 1px solid $primary-color;
  border-radius: $corner-small;
}
