@import "jnt-variables";
@import "elements/icon/icon";

:host-context([theme='dark']) {
  [block] {
    background-color: $jnt-gray-dark-color;
  }
}

:host {
  display: block;
}

h1 {
  display: flex;
  align-items: center;
}

[data-thumbnail] {
  display: inline-flex;
  background: $jnt-white-color;
  border-radius: $jnt-corner-normal;
  padding: $jnt-gutter-small $jnt-gutter-normal;
  margin-right: $jnt-gutter-normal;
  [data-icon] {
    @include jnt-icon((
      size: 30px
    ), '&', true);
  }
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[giphy] {
  border-radius: $jnt-corner-normal;
  pointer-events: none;
  border: 2px solid $jnt-secondary-color;
  max-width: 100%;
}

//
//[teaser] {
//  color: $jnt-primary-text-light-color;
//}

[block] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $jnt-primary-color;
  font-weight: bold;
  background-color: $jnt-primary-background;
  box-sizing: border-box;
  border: 2px solid $jnt-primary-color;
  border-radius: $jnt-corner-normal;
}

[preview] {
  width: 100%;
}
