<jnt-container>
  <h1>Badge</h1>
  <jnt-stack>
    <jnt-stack [type]="ui.stack.type.horizontal">
      <ng-container *ngFor="let scheme of [ui.schemes.primary, ui.schemes.secondary, ui.schemes.success, ui.schemes.fail]">
        <jnt-badge [scheme]="scheme" [count]="5">
          <a href="#" block></a>
        </jnt-badge>
      </ng-container>
    </jnt-stack>
    <jnt-row>
<pre>
&lt;jnt-badge [scheme]="ui.schemes.primary" [count]="5"&gt;
  &lt;a href="#"&gt;&lt;/a&gt;
&lt;/jnt-badge&gt;</pre>
      <pre>&#91;scheme&#93; = &#123;primary, secondary, success, fail&#125;</pre>
      <pre>&#91;count&#93;: number</pre>
    </jnt-row>
    <jnt-stack [type]="ui.stack.type.horizontal">
      <div block>
        <jnt-badge [position]="ui.position.inline" [count]="5"></jnt-badge>
      </div>
      <ng-container *ngFor="let position of [ui.position.leftTop, ui.position.rightTop]">
        <jnt-badge [position]="position" [count]="5">
          <a href="#" block></a>
        </jnt-badge>
      </ng-container>
    </jnt-stack>

    <jnt-row>
<pre>
&lt;jnt-badge [position]="ui.position.rightTop"&gt;
  &lt;a href="#"&gt;&lt;/a&gt;
&lt;/jnt-badge&gt;</pre>
<pre>&lt;jnt-badge [position]="ui.position.inline"&gt;&lt;/jnt-badge&gt;</pre>
<pre>&#91;position&#93; = &#123;rightTop, leftTop, inline&#125;</pre>

    </jnt-row>
  </jnt-stack>
</jnt-container>
