<jnt-container>
  <h1>Spinner</h1>
  <jnt-stack [type]="ui.stack.type.horizontal">
    <jnt-spinner [size]="ui.sizes.small"></jnt-spinner>
    <jnt-spinner [size]="ui.sizes.normal"></jnt-spinner>
    <jnt-spinner [size]="ui.sizes.large"></jnt-spinner>
  </jnt-stack>

    <ngx-prism language="html">
    <pre>&lt;jnt-spinner [size]="ui.sizes.small"&gt;&lt;/jnt-spinner&gt;</pre>
    </ngx-prism>

  <h3>API</h3>
  <h4>jnt-spinner</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[size]</td>
      <td>-</td>
      <td>small | normal | large</td>
      <td>small</td>
    </tr>
    </tbody>
  </table>
</jnt-container>
