@import "../../component";
@import "variables";

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[period] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $jnt-gutter-tiny;
  text-align: center;
  border-radius: $jnt-corner-large;
  background-color: $jnt-primary-color;
  color: $jnt-white-color;
  height: 40px;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;

  &[accepting='true'] {
    cursor: pointer;
    pointer-events: all;
  }

  &[accepted='true'] {
    background-color: $jnt-success-color;
  }

  &[declined='true'] {
    background-color: $jnt-fail-color;
  }

  &[used='true'] {
    background-color: $jnt-gray-600-color;
  }

  &[short='true'] {
    [label] {
      display: none;
    }
  }

  &[over-from='true'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[over-to='true'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[self-expense='true'] {
    border: 1px dashed $jnt-gray-800-color;
  }
}
