@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";
@import "../../component";

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[top-menu] ::ng-deep div:nth-child(2) [icon][child-of=#{$jnt-link-host}] svg {
  fill: $white-color;
}

[aside] {
  padding-top: $gutter-normal;
}
