@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";
@import "../../component";

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[actions] ::ng-deep [host=#{$jnt-animated-icon-host}] svg {
  fill: $white-color;
}

[aside] {
  padding-top: $gutter-normal;
}
