@import "jnt-variables";

:host-context([theme='dark']) {
  & {
    background-color: $jnt-gray-dark-color;
  }
}

:host {
  display: block;
  position: relative;
  border-radius: $jnt-corner-normal;
  border: 1px solid $jnt-secondary-color;
  box-sizing: border-box;
  overflow: hidden;
  background: $jnt-page-background;
  [wrapper] {
    padding: $jnt-gutter-normal;
    min-height: 300px;
  }
}

[footer] {
  height: 30px;
  background-color: $jnt-muted-color;
  border-bottom-left-radius: $jnt-corner-normal;
  border-bottom-right-radius: $jnt-corner-normal;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
