@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

:host-context([theme='dark']) {
  [shadow] {
    background-color: #1A1A1A;
  }
}

[color] {
  margin-bottom: $gutter-normal;
}

table {
  border-spacing: 0;
  thead {
    background-color: $primary-color;
    color: $white-color;
    text-align: center;
    th {
      padding: $gutter-small $gutter-normal;
    }
  }
  tbody {
    td {
      padding: $gutter-tiny;
      [label] ::ng-deep {
        width: 100%;
      }
      [block] {
        padding: $gutter-small;
        min-height: 30px;
        width: 100%;
      }
    }
  }
}

[corner-small] {
  border-radius: $corner-small;
}

[corner-normal] {
  border-radius: $corner-normal;
}

[corner-large] {
  border-radius: $corner-large;
}

[shadow] {
  background-color: $primary-background;
  padding: $gutter-small;
  border-radius: $corner-normal;
  box-sizing: border-box;
  min-height: 30px;
  &[primary] {
    box-shadow: $shadow-primary;
  }
  &[light] {
    box-shadow: $shadow-light;
  }
  &[normal] {
    box-shadow: $shadow-normal;
  }
  &[primary-light] {
    box-shadow: $shadow-primary-light;
  }
  &[primary-dark] {
    box-shadow: $shadow-primary-dark;
  }
}

pre[class*="language-"] {
  background-color: transparent;
}
[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
