@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

hr {
  width: 100%;
}

[colors] {
  background-color: $primary-background;
  padding: $gutter-small;
  [label] {
    margin-bottom: $gutter-normal;
    color: $primary-text-color;
  }
}

[corner-small] {
  border-radius: $corner-small;
}

[corner-normal] {
  border-radius: $corner-normal;
}

[corner-large] {
  border-radius: $corner-large;
}

[shadow] {
  width: 100px;
  height: 100px;
  background-color: $primary-background;
  padding: $gutter-small;
  border-radius: $corner-normal;
  box-sizing: border-box;
  &[primary] {
    box-shadow: $shadow-primary;
  }
  &[light] {
    box-shadow: $shadow-light;
  }
  &[normal] {
    box-shadow: $shadow-normal;
  }
  &[primary-light] {
    box-shadow: $shadow-primary-light;
  }
  &[primary-dark] {
    box-shadow: $shadow-primary-dark;
  }
  &[primary-dark-new] {
    box-shadow: $shadow-primary-dark-new;
  }
}

pre[class*="language-"] {
  background-color: transparent;
}
