@import '../../component';
@import 'jnt-variables';

:host {
  display: block;
}

[image-cropper] {
  width: 300px;
  height: 320px;
  padding: $jnt-gutter-tiny;
  border: 1px $jnt-control-border-color solid;
}
