<jnt-container>
  <h1>Input</h1>
  <form [formGroup]="editForm">
    <h2>Text</h2>
    <jnt-stack formArrayName="texts">
      <ng-container [formGroupName]="i"
                    *ngFor="let scheme of [ui.schemes.primary, ui.schemes.secondary, ui.schemes.success, ui.schemes.fail];let i = index">
        <jnt-input [scheme]="scheme" placeholder="Hero name" formControlName="name"></jnt-input>
      </ng-container>
    </jnt-stack>
    <h2>Password</h2>
    <jnt-stack formArrayName="passwords">
      <ng-container [formGroupName]="i"
                    *ngFor="let scheme of [ui.schemes.primary, ui.schemes.secondary, ui.schemes.success, ui.schemes.fail];let i = index">
        <jnt-input [scheme]="scheme" [type]="ui.form.input.password" placeholder="Hero password"
                   formControlName="password"></jnt-input>
      </ng-container>
    </jnt-stack>
  </form>

  <jnt-row>
    <pre>&lt;jnt-input [scheme]="primary" [type]="password" placeholder="Hero name"&gt;&lt;/jnt-input&gt;</pre>
    <pre>&#91;scheme&#93; = &#123;primary, secondary, success, fail&#125;</pre>
    <pre>&#91;type&#93; = &#123;text, password&#125;</pre>
    <pre>&#91;placeholder&#93;: string</pre>
  </jnt-row>
</jnt-container>
