<jnt-container>
  <h1>Input</h1>
  <form [formGroup]="editForm">
    <h2>Text</h2>
    <jnt-stack formArrayName="texts">
      <ng-container [formGroupName]="i"
                    *ngFor="let scheme of [ui.schemes.primary, ui.schemes.secondary, ui.schemes.success, ui.schemes.fail];let i = index">
        <jnt-input [scheme]="scheme" placeholder="Hero name" formControlName="name"></jnt-input>
      </ng-container>
    </jnt-stack>
    <h2>Password</h2>
    <jnt-stack formArrayName="passwords">
      <ng-container [formGroupName]="i"
                    *ngFor="let scheme of [ui.schemes.primary, ui.schemes.secondary, ui.schemes.success, ui.schemes.fail];let i = index">
        <jnt-input [scheme]="scheme" [type]="ui.form.input.password" placeholder="Hero password"
                   formControlName="password"></jnt-input>
      </ng-container>
    </jnt-stack>
  </form>

  <jnt-block>
    <ngx-prism language="html">
      &lt;jnt-input [scheme]="ui.schemes.primary" [type]="ui.form.input.password" placeholder="Hero name"&gt;&lt;/jnt-input&gt;
    </ngx-prism>

    <h3>API</h3>
    <h4>jnt-input</h4>
    <table api>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>[scheme]</td>
        <td>-</td>
        <td>primary | secondary | success | fail</td>
        <td>primary</td>
      </tr>
      <tr>
        <td>[type]</td>
        <td>-</td>
        <td>text | password</td>
        <td>text</td>
      </tr>
      <tr>
        <td>[placeholder]</td>
        <td>-</td>
        <td>string</td>
        <td>-</td>
      </tr>
      </tbody>

    </table>
  </jnt-block>
</jnt-container>
