@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";
@import "../../../../../projects/junte-ui/src/lib/components/layout/app-layout/common";

:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[header]::ng-deep,
[sidebar][host=jnt-app-aside-host]::ng-deep,
[sidebar][host=jnt-app-aside-host]::ng-deep [drawer] {
  position: absolute;
}

app-browser-preview [sidebar][host=jnt-app-aside-host]::ng-deep [drawer][collapsed="true"] {
  jnt-menu[host=jnt-menu-host]::ng-deep [submenu] [submenuItems] {
    position: absolute;
    top: 0!important;
  }
}

[icon][host='jnt-icon-host'][type='font'] {
  font-size: 20px;
  line-height: 0;
}

[subItems] {
  padding-left: $gutter-big;
}

[content] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  [body] {
    min-height: calc(100% - #{$app-footer-height} - #{$app-sub-header-height});
  }
  &[with-sub-header="false"] {
    [body] {
      min-height: calc(100% - #{$app-footer-height});
    }
  }

  &[with-footer="false"] {
    [body] {
      min-height: calc(100% - #{$app-sub-header-height});
    }
  }
  &[with-sub-header="false"][with-footer="false"] {
    [body] {
      min-height: 100%;
    }
  }

}

