:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[header]::ng-deep, [aside]::ng-deep,  [sider]::ng-deep [drawer] {
  position: absolute;
}

[icon][host=jnt-icon-host][type='font'] {
  font-size: 20px;
  line-height: 0;
}
