:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[header]::ng-deep {
  position: absolute;
}

[icon][host=jnt-icon-host][type='font'] {
  font-size: 20px;
  line-height: 0;
}
