<jnt-container>

  <jnt-app-page-header [icon]="localUi.icons.icon"
                       title="Icon"
                       i18n-title="@@label.icon"
                       [teaser]="handbook.elements.components.icon.teaser">

    <ng-template #headerActionsTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal">
        <jnt-link [icon]="ui.icons.gitlab"
                  [outline]="ui.outline.ghost"
                  [source]="gitlab"
                  target="_blank" title="GitLab"
                  i18n-title="@@action.gitlab">
        </jnt-link>
        <jnt-link [icon]="ui.icons.figma"
                  [outline]="ui.outline.ghost"
                  [source]="figma"
                  target="_blank" title="Figma"
                  i18n-title="@@action.figma">
        </jnt-link>
      </jnt-stack>

    </ng-template>
  </jnt-app-page-header>

  <jnt-tabs [features]="[ui.feature.adapted]">

    <jnt-tab title="Preview"
             i18n-title="@@label.preview"
             [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <jnt-row>
          <jnt-col [tablet]="6">
            <app-browser-preview preview>
              <ng-template #document>
                <jnt-stack>
                  <div block>
                    <jnt-icon [icon]="iconControl.value.value"
                              [modifier]="modifierControl.value"
                              [size]="sizeControl.value"
                              [stroke]="strokeControl.value"></jnt-icon>
                  </div>
                  <jnt-label *ngIf="!!iconControl.value?.path"
                             [label]="'ui.' + iconControl.value.path + '.' + iconControl.value.name"></jnt-label>
                </jnt-stack>
                <p>The icon is inline element by default and we should write some text for tests
                  <jnt-icon [icon]="iconControl.value.value"></jnt-icon>
                  thus the text is here. We also need secondary line of the text and we will try to write some thing.
                </p>
              </ng-template>
            </app-browser-preview>
          </jnt-col>
          <jnt-col [tablet]="6">
            <jnt-form [formGroup]="builder">
              <jnt-stack [align]="ui.align.stretch">
                <jnt-form-item>
                  <jnt-form-label for="size"
                                  i18n="@@label.size">Size
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="size"
                                placeholder="Normal"
                                i18n-placeholder="@@label.normal"
                                [features]="[ui.feature.allowEmpty]">
                      <jnt-select-option label="Tiny"
                                         i18n-label="@@label.tiny"
                                         [icon]="localUi.icons.tiny"
                                         [key]="ui.size.tiny"></jnt-select-option>
                      <jnt-select-option label="Small"
                                         i18n-label="@@label.small"
                                         [icon]="localUi.icons.small"
                                         [key]="ui.size.small"></jnt-select-option>
                      <jnt-select-option label="Normal"
                                         i18n-label="@@label.normal"
                                         [icon]="localUi.icons.normal"
                                         [key]="ui.size.normal"></jnt-select-option>
                      <jnt-select-option label="Large"
                                         i18n-label="@@label.large"
                                         [icon]="localUi.icons.large"
                                         [key]="ui.size.large"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label for="Stroke"
                                  i18n="@@label.stroke">Stroke
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="stroke"
                                placeholder="Normal"
                                i18n-placeholder="@@label.normal"
                                [features]="[ui.feature.allowEmpty]">
                      <jnt-select-option label="Thin"
                                         i18n-label="@@label.thin"
                                         [key]="ui.stroke.thin"
                                         [icon]="localUi.icons.stroke.thin"></jnt-select-option>
                      <jnt-select-option label="Normal"
                                         i18n-label="@@label.normal"
                                         [key]="ui.stroke.normal"
                                         [icon]="localUi.icons.stroke.normal"></jnt-select-option>
                      <jnt-select-option label="Bold"
                                         i18n-label="@@label.bold"
                                         [key]="ui.stroke.bold"
                                         [icon]="localUi.icons.stroke.bold"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label for="modifier"
                                  i18n="@@label.stroke">Modifier
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="modifier"
                                placeholder="None"
                                i18n-placeholder="@@label.normal"
                                [features]="[ui.feature.allowEmpty]">
                      <jnt-select-option label="Add"
                                         i18n-label="@@label.add"
                                         [key]="ui.icon.modifier.add"></jnt-select-option>
                      <jnt-select-option label="Edit"
                                         i18n-label="@@label.edit"
                                         [key]="ui.icon.modifier.edit"></jnt-select-option>
                      <jnt-select-option label="Delete"
                                         i18n-label="@@label.delete"
                                         [key]="ui.icon.modifier.delete"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <app-icons-list path="icons" [icons]="ui.icons"
                                (selected)="iconControl.setValue($event)"></app-icons-list>
              </jnt-stack>
            </jnt-form>
          </jnt-col>
        </jnt-row>
      </ng-template>
    </jnt-tab>

    <jnt-tab #code title="Code"
             i18n-title="@@label.code"
             [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <jnt-accordion [active]="1">
          <jnt-accordion-section title="How to start"
                                 i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'icon-test', type: 'IconTestComponent'}"
                scss="elements/icon"></app-how-to-use>
            </ng-template>
          </jnt-accordion-section>
          <jnt-accordion-section title="Component template"
                                 i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="icon-test.template.html">
                <!-- @formatter:off-->
<![CDATA[
<jnt-icon [icon]="]]>ui.{{iconControl.value.path}}.{{iconControl.value.name}}<![CDATA[" ]]>
  <ng-container *ngIf="sizeControl.value">
    <![CDATA[
    [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="strokeControl.value">
    <![CDATA[
    [stroke]="ui.stroke.]]>{{strokeControl.value}}<![CDATA["]]>
  </ng-container>
  <ng-container *ngIf="modifierControl.value">
    <![CDATA[
    [modifier]="ui.icon.modifier.]]>{{modifierControl.value}}<![CDATA["]]>
  </ng-container>
  <![CDATA[>
</jnt-icon>
]]>
                <!-- @formatter:on-->
              </app-code-highlight>
            </ng-template>
          </jnt-accordion-section>
        </jnt-accordion>
      </ng-template>
    </jnt-tab>

    <jnt-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="jnt-icon" [target]="icon"></app-component-api>
      </ng-template>
    </jnt-tab>

  </jnt-tabs>

</jnt-container>

