<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>
<jnt-popover #popover></jnt-popover>
<jnt-app-layout #layout>

  <jnt-app-header>
    <ng-template #logo>
      <img [src]="'assets/images/logo' + (theme === 'dark' ? '-dark' : '-light') + '.svg'">
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item [icon]="ui.icons.home" title="Home" [link]="['/']"></jnt-menu-item>
        <jnt-menu-item [icon]="ui.icons.beaker" title="Documentation" [link]="['/documentation']"
                       [matching]="ui.url.matching.wildcard">
        </jnt-menu-item>
        <jnt-menu-item title="GitLab" link="https://gitlab.com/junte/junte-ui"
                       target="_blank"
                       [icon]="ui.icons.gitlab"></jnt-menu-item>
        <jnt-menu-item title="Figma" link="https://www.figma.com/file/EIUNwZCXL9Nm5BKQKl43mfDr/Junte-UI-v1?node-id=793%3A0"
                       target="_blank"
                       [icon]="ui.icons.figma"></jnt-menu-item>
        <jnt-menu-item [icon]="ui.icons.mailbox" title="Contacts" [link]="['/contacts']"
                       [matching]="ui.url.matching.wildcard"></jnt-menu-item>
      </jnt-menu>
    </ng-template>
    <jnt-form [formGroup]="themeForm">
      <jnt-theme-switcher formControlName="theme"></jnt-theme-switcher>
    </jnt-form>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>
