<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>
<jnt-popover #popover></jnt-popover>
<jnt-app-layout #layout>

  <jnt-app-header [fixed]="true">
    <ng-template #logo>
      <div>Junte UI</div>
      <small>Very strong framework!</small>
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item title="Home" link="/home" [exact-link]="false"></jnt-menu-item>
        <jnt-menu-item title="Documentation" link="/documentation" [exact-link]="false"></jnt-menu-item>
        <jnt-menu-item title="GitLab" link="/gitlab" [exact-link]="false"></jnt-menu-item>
        <jnt-menu-item title="Contacts" link="/contacts" [exact-link]="false"></jnt-menu-item>
      </jnt-menu>
    </ng-template>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>
