<jnt-modal #modal [backdrop]="backdrop"></jnt-modal>
<jnt-popover #popover></jnt-popover>
<jnt-app-layout #layout>

  <jnt-app-header>
    <ng-template #logo>
      <img src="../assets/image/logo-light.svg" alt="">
    </ng-template>
    <ng-template #topMenu>
      <jnt-menu>
        <jnt-menu-item title="Home" link="/home" [matching]="ui.menu.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item title="Documentation" link="/documentation"
                       [matching]="ui.menu.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item title="GitLab" link="/gitlab" [matching]="ui.menu.matching.wildcard"></jnt-menu-item>
        <jnt-menu-item title="Contacts" link="/contacts" [matching]="ui.menu.matching.wildcard"></jnt-menu-item>
      </jnt-menu>
    </ng-template>
    <jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.sizes.small">
      <jnt-button text="Dark" [size]="ui.sizes.tiny"
                  (click)="setTheme('dark')"
                  [loading]="loading['dark']">
      </jnt-button>
      <jnt-button text="Light" [size]="ui.sizes.tiny"
                  (click)="setTheme('light')"
                  [loading]="loading['light']">
      </jnt-button>
    </jnt-stack>
  </jnt-app-header>
  <router-outlet></router-outlet>
</jnt-app-layout>
