@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

:host-context([theme="dark"]) {
  [footer] {
    background-color: $gray-800;
    color: $gray-200;
  }
}

[icon] {
  font-size: 150px;
  color: $muted-color;
}

[footer] {
  padding: $gutter-small $gutter-normal;
  background-color: $secondary-background;
  color: $primary-text-color;
  border-bottom-left-radius: $corner-normal;
  border-bottom-right-radius: $corner-normal;
}
[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
