@import "variables";

:host {
  display: block;
}

:host-context([theme="dark"]) {
  [footer] {
    background-color: $gray-800;
    color: $gray-200;
  }
}

[footer] {
  padding: $gutter-small;
  background-color: $secondary-background;
  color: $primary-text-color;
  border-bottom-left-radius: $corner-normal;
  border-bottom-right-radius: $corner-normal;
}
