@import "jnt-variables";
@import "../../component";

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[actions] ::ng-deep [host=jnt-animated-icon-host] svg {
  fill: $jnt-white-color;
}

[aside] {
  padding-top: $jnt-gutter-normal;
}
