@import 'jnt-variables';
@import '../../component';
@import 'layout/responsive';
@import 'layout/app';
@import 'navigation/menu';

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[aside] {
  padding-top: $jnt-gutter-normal;
}

[data-name] {
  color: $jnt-white-color;
  @include max-for-tablet() {
    color: $jnt-primary-color;
  }
}

[data-busyness] {
  display: flex !important;
  @include jnt-app-busyness((position: absolute), '&', true);
}
