@import 'jnt-variables';
@import '../../component';
@import 'layout/responsive';

[preview] ::ng-deep > [wrapper] {
  padding: 0 !important;
}

[aside] {
  padding-top: $jnt-gutter-normal;
}

[data-name] {
  color: $jnt-white-color;
  @include max-for-tablet() {
    color: $jnt-primary-color;
  }
}
