@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

[wrapper] {
  width: 10%;
  min-width: 100px;
  padding: $gutter-normal;
  box-sizing: border-box;
  text-align: center;
  [icon] {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: $primary-dark-color;
    fill: $primary-dark-color;
  }
  [name] {
    font-size: $font-size-small;
    color: $primary-text-light-color;
    margin-top: $gutter-tiny;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
