@import "../../../../../projects/junte-ui/src/lib/assets/styles/variables";

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[placeholder] {
  min-width: 100px;
  min-height: 100px;
  background-color: $secondary-color;
  font-size: $font-size-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $gutter-normal;
}
