<jnt-container>

  <p>We love❤️ everybody who helps us create better products.
    Please offer your merge requests
    <jnt-link source="//gitlab.com/junte/junte-ui/merge_requests"
              [icon]="ui.icons.gitlab"
              [outline]="ui.outline.ghost"
              target="_blank"
              title="here"></jnt-link>
  </p>
  <p>We always search frontend developers or designers to our team.</p>
  <p>Please, contact us for interesting job together!</p>
  <jnt-link source="mailto:tech@junte.it"
            title="tech@junte.ru"
            [icon]="ui.icons.email"
            [outline]="ui.outline.ghost"></jnt-link>
  <h2>Our team</h2>
  <jnt-row>
    <jnt-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/breslavsky.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Anton Breslavsky</div>
          <small>Team Leader, Frontend Expert</small>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/lapshin.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Stanislav Lapshin</div>
          <small>DevOps Engineer</small>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/selezneva.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Julia Selezneva</div>
          <small>Chief Markup Master</small>
        </jnt-stack>
      </jnt-stack>
    </jnt-col>
    <jnt-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/gromov.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Roman Gromov</div>
          <small>Frontend Developer</small>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/yashin.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Dmitriy Yashin</div>
          <small>Figma Master</small>
        </jnt-stack>
      </jnt-stack>
    </jnt-col>
    <jnt-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/nadezhin.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Sergey Nadezhin</div>
          <small>Chief Designer</small>
        </jnt-stack>
      </jnt-stack>
      <jnt-stack [orientation]="ui.orientation.horizontal" [align]="ui.align.center">
        <jnt-avatar image="assets/images/contributors/savin.jpg"></jnt-avatar>
        <jnt-stack [gutter]="ui.gutter.tiny">
          <div>Maksim Savin</div>
          <small>Project Manager</small>
        </jnt-stack>
      </jnt-stack>
    </jnt-col>
  </jnt-row>
  <p>You can find us here:</p>
  <jnt-menu
    [orientation]="ui.orientation.horizontal"
    [style]="ui.menu.style.default"
    [collapsed]="true">
    <jnt-menu-item
      target="_blank"
      link="https://junte.team"
      [icon]="localUi.icons.social.junteTeam">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://www.facebook.com/junte.team"
      [icon]="localUi.icons.social.facebook">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://www.instagram.com/junte.team/"
      [icon]="localUi.icons.social.instagram">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://twitter.com/JunteTeam"
      [icon]="localUi.icons.social.twitter">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://www.youtube.com/channel/UCwdcdfD2Q-vK0SL4oWKiMPg/playlists"
      [icon]="localUi.icons.social.youtube">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://www.linkedin.com/company/junte/"
      [icon]="localUi.icons.social.linkedin">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://vk.com/junte"
      [icon]="localUi.icons.social.vk">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://gitlab.com/junte"
      [icon]="localUi.icons.social.gitlab">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://github.com/Junte"
      [icon]="localUi.icons.social.github">
    </jnt-menu-item>
    <jnt-menu-item
      target="_blank"
      link="https://www.figma.com/@junte"
      [icon]="localUi.icons.social.figma">
    </jnt-menu-item>
  </jnt-menu>
</jnt-container>
