@import "../../component";
@import "forms/switcher/switcher";
@import "layout/responsive/responsive";

[max-height='true'] {
  @include jnt-switcher((
    vertical: (
      max-height: 50px
    )
  ), '&', true)
}

[data-block] {
  max-width: 100%;
  min-width: 455px;
  @include for-mobile() {
    min-width: 0;
  }
}

[data-avatar] {
  align-self: center;
}
