@import "../../component";
@import "forms/switcher/switcher";

[max-height='true'] {
  @include jnt-switcher((
    vertical: (
      max-height: 50px
    )
  ), '&', true)
}

[data-block] {
  max-width: 100%;
  width: 455px;
}

[data-avatar] {
  align-self: center;
}
