<jnt-container>

  <h1>Avatar</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The avatar must have different sizes: tiny, small, normal, large</li>
    <li>The avatar must have different shapes: circle, square</li>
    <li>Avatar can contain icon or text or image</li>
    <li>If image passed it must replace text</li>
    <li>If image is null must use first char of text</li>
  </ol>

  <hr>

  <h3>Size</h3>

  <jnt-stack [gutter]="ui.stack.gutter.large">

    <jnt-stack [type]="ui.stack.type.horizontal">
      <ng-container *ngFor="let size of [ui.sizes.tiny, ui.sizes.small, ui.sizes.normal, ui.sizes.large]">
        <jnt-avatar [size]="size">{{size}}</jnt-avatar>
      </ng-container>
    </jnt-stack>

    <ngx-prism language="html">
      <pre>&lt;jnt-avatar [size]="small"&gt;&lt;/jnt-avatar&gt;</pre>
    </ngx-prism>

    <h3>Shape</h3>

    <jnt-stack [type]="ui.stack.type.horizontal">
      <ng-container *ngFor="let shape of [ui.shape.circle, ui.shape.square]">
        <jnt-avatar [shape]="shape">{{shape}}</jnt-avatar>
      </ng-container>
    </jnt-stack>

    <ngx-prism language="html">
      <pre>&lt;jnt-avatar [shape]="ui.shape.circle"&gt;&lt;/jnt-avatar&gt;</pre>
    </ngx-prism>

    <h3>Content</h3>

    <jnt-stack>
      <ng-container *ngFor="let size of [ui.sizes.tiny, ui.sizes.small, ui.sizes.normal, ui.sizes.large]">
        <jnt-stack [type]="ui.stack.type.horizontal">
          <jnt-avatar text="Julia" [size]="size"></jnt-avatar>
          <jnt-avatar [icon]="ui.icons.user" [size]="size"></jnt-avatar>
          <jnt-avatar [size]="size"
                      image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
        </jnt-stack>
      </ng-container>
    </jnt-stack>


    <ngx-prism language="html">
      <pre>&lt;jnt-avatar [icon]="ui.icons.close"&gt;&lt;/jnt-avatar&gt;</pre>
    </ngx-prism>
    <ngx-prism language="html">
      <pre>&lt;jnt-avatar text="Julia"&gt;&lt;/jnt-avatar&gt;</pre>
    </ngx-prism>
    <ngx-prism language="html">
      <pre>&lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;</pre>
    </ngx-prism>

    <h1>Avatars group</h1>

    <ng-container *ngFor="let size of [ui.sizes.tiny, ui.sizes.small, ui.sizes.normal, ui.sizes.large]">

      <jnt-stack [type]="ui.stack.type.horizontal">

        <jnt-avatars-group [size]="size">
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1469424/avatar.png"></jnt-avatar>
        </jnt-avatars-group>

        <jnt-avatars-group [size]="size">
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1469424/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1601372/avatar.png"></jnt-avatar>
        </jnt-avatars-group>

        <jnt-avatars-group [size]="size">
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1469424/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1433261/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1601372/avatar.png"></jnt-avatar>
        </jnt-avatars-group>

        <jnt-avatars-group [size]="size">
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1469424/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1433261/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1601372/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1601372/avatar.png"></jnt-avatar>
          <jnt-avatar
            image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
        </jnt-avatars-group>

      </jnt-stack>

    </ng-container>

    <h1>Avatars list</h1>
    <ng-container *ngFor="let size of [ui.sizes.tiny, ui.sizes.small, ui.sizes.normal, ui.sizes.large]">
      <jnt-avatars-list [size]="size">
        <jnt-avatar
          image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
        <jnt-avatar
          image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1469424/avatar.png"></jnt-avatar>
        <jnt-avatar
          image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1433261/avatar.png"></jnt-avatar>
        <jnt-avatar
          image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/1601372/avatar.png"></jnt-avatar>
        <jnt-avatar [icon]="ui.icons.user"></jnt-avatar>
      </jnt-avatars-list>
    </ng-container>

    <ngx-prism language="html">
      <pre>
&lt;jnt-avatars-list [size]="ui.sizes.normal"&gt;
    &lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;
    &lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;
    &lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;
    &lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;
    &lt;jnt-avatar image="path"&gt;&lt;/jnt-avatar&gt;
&lt;/jnt-avatars-list></pre>
    </ngx-prism>

  </jnt-stack>

  <h3>API</h3>
  <h4>jnt-avatar</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[size]</td>
      <td>-</td>
      <td>small | normal | large</td>
      <td>normal</td>
    </tr>
    <tr>
      <td>[shape]</td>
      <td>-</td>
      <td>circle | square</td>
      <td>circle</td>
    </tr>
    <tr>
      <td>[icon]</td>
      <td>-</td>
      <td>Icons</td>
      <td>-</td>
    </tr>
    <tr>
      <td>[text]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    <tr>
      <td>[image]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
