@import 'jnt-variables';

:host {
  display: block;
  max-width: 100%;
}

[hidden] {
  display: none;
}

pre {
  margin: 0 0 $jnt-gutter-normal 0;
  overflow-x: auto;
  max-width: 100%;
  border-radius: $jnt-corner-small;
}
