<jnt-container>
  <h1>Select</h1>
    <jnt-form [formGroup]="form">
      <h4>Input property</h4>
      <jnt-row>
        <jnt-col [span]="4">
          <jnt-select valueField="value"
                      labelField="label"
                      [mode]="selectMode.multiple"
                      placeholder="Multiple select"
                      formControlName="select">
            <jnt-select-option *ngFor="let option of options" [label]="option.label" [value]="option.value">
            </jnt-select-option>
          </jnt-select>
        </jnt-col>
      </jnt-row>
      <h4>Ajax query</h4>
      <jnt-select valueField="value"
                  labelField="label"
                  [loadOptions]="loadOptions()"
                  placeholder="Single select(ajax)"
                  formControlName="selectAjax">
      </jnt-select>
    </jnt-form>
</jnt-container>
