<jnt-container>
  <h1>Select</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The select should show the loading</li>
    <li>The select and option list item should respond to mouse hover, click</li>
    <li>The select must have different sizes: small, normal, large</li>
    <li>The select should change the display when it is disabled</li>
    <li>The select should be of two types: single and multiple</li>
    <li>Selected items should be highlighted in option list</li>
    <li>The select must be able to enter a query</li>
    <li>The option list should be closed by clicking on free space or on the list item</li>
  </ol>

  <hr>

    <jnt-form [formGroup]="form">
      <h4>Input property</h4>
      <jnt-row>
        <jnt-col [span]="12">
          <jnt-select valueField="value"
                      labelField="label"
                      [search]="true"
                      [mode]="selectMode.multiple"
                      placeholder="Multiple select"
                      formControlName="select">
            <jnt-select-option *ngFor="let option of options" [label]="option.label" [value]="option.value">
            </jnt-select-option>
          </jnt-select>
        </jnt-col>
      </jnt-row>
      <h4>Ajax query</h4>
      <jnt-select valueField="value"
                  labelField="label"
                  [loadOptions]="loadOptions()"
                  placeholder="Single select(ajax)"
                  formControlName="selectAjax">
      </jnt-select>
    </jnt-form>
</jnt-container>
