@import "variables";
@import "../../component";

[footer] {
  padding: $gutter-normal;
  background-color: $page-background;
  border-bottom-left-radius: $corner-normal;
  border-bottom-right-radius: $corner-normal;
}

[cancel] {
  margin-top: $gutter-normal;
}
