@import "jnt-variables";
@import "../../component";

:host-context([theme='dark']) {
  [footer] {
    background-color: #121212;
  }
}

[footer] {
  padding: $jnt-gutter-normal;
  background-color: $jnt-page-background;
  border-bottom-left-radius: $jnt-corner-normal;
  border-bottom-right-radius: $jnt-corner-normal;
}

[cancel] {
  margin-top: $jnt-gutter-normal;
}
