@import 'jnt-variables';
@import 'elements/icon';
@import 'layout/responsive';

:host {
  display: block;
}


[data-home] {
  @include jnt-icon((
    size: 70px
  ), '&', true);

  @include for-mobile() {
    @include jnt-icon((
      size: 30px
    ), '&', true);
  }
}

[page] {
  padding: $jnt-gutter-normal;
}
