@import "variables";
@import "../../component";
@import "elements/icon/icon";

[data-icon] {
  line-height: 0;
  @include icon ((
    size: 70px
  ), '&', true);
}

[page] {
  padding: $jnt-gutter-normal;
}
