@import "jnt-variables";
@import "../../component";
@import "elements/icon/icon";
@import "layout/responsive/responsive";

[data-home] {
  @include jnt-icon ((
    size: 70px
  ), '&', true);

  @include for-mobile() {
    @include jnt-icon ((
      size: 30px
    ), '&', true);
  }
}

[page] {
  padding: $jnt-gutter-normal;
}
