@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[buttons] {
  margin-top: $gutter-large;
  & > * {
    margin-bottom: $gutter-normal;
  }
}

[teaser] {
  color: $primary-text-light-color;
}

h4 {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  width: 100%;
}

[form] {
  align-self: stretch;
}
