@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[buttons] {
  margin-top: $gutter-large;
  & > * {
    margin-bottom: $gutter-normal;
  }
}

[form] {
  align-self: stretch;
}
