@import "variables";

:host {
  display: block;
}

:host-context([theme='dark']) {
  [shadow] {
    background-color: #1A1A1A;
  }
}

[color] {
  margin-bottom: $jnt-gutter-normal;
}

table {
  border-spacing: 0;
  thead {
    background-color: $jnt-primary-color;
    color: $jnt-white-color;
    text-align: center;
    th {
      padding: $jnt-gutter-small $jnt-gutter-normal;
    }
  }
  tbody {
    td {
      padding: $jnt-gutter-tiny;
      [host=#{$jnt-label-host}] {
        width: 100%;
        border: 1px solid $jnt-white-color;
      }
      [block] {
        padding: $jnt-gutter-small;
        min-height: 30px;
        width: 100%;
      }
    }
  }
}

[corner-small] {
  border-radius: $jnt-corner-small;
}

[corner-normal] {
  border-radius: $jnt-corner-normal;
}

[corner-large] {
  border-radius: $jnt-corner-large;
}

[shadow] {
  background-color: $jnt-primary-background;
  padding: $jnt-gutter-small;
  border-radius: $jnt-corner-normal;
  box-sizing: border-box;
  min-height: 30px;
  &[primary] {
    box-shadow: $jnt-shadow-primary;
  }
  &[light] {
    box-shadow: $jnt-shadow-light;
  }
  &[normal] {
    box-shadow: $jnt-shadow-normal;
  }
}

pre[class*="language-"] {
  background-color: transparent;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}
