<div class="container"
     style="padding: 10px 10px 30px 30px; display: block; background-color: #e5e5e5; min-height: 100vh">

  <h3>Button</h3>

  <div style="display: flex">

    <div style="width: 30%;">
      <ju-button class="secondary">Button</ju-button>

      <div style="height: 10px"></div>

      <ju-button class="primary" [size]="size.small">Button small</ju-button>

      <div style="height: 10px"></div>

      <ju-button class="success" [size]="size.large">Button large</ju-button>

      <div style="height: 10px"></div>
    </div>

    <div style="width: 30%;">
      <ju-button class="outline-secondary">Button</ju-button>

      <div style="height: 10px"></div>

      <ju-button class="outline-primary" [size]="size.small">Button small</ju-button>

      <div style="height: 10px"></div>

      <ju-button class="outline-success" [size]="size.large">Button large</ju-button>

      <div style="height: 10px"></div>
    </div>


    <div style="width: 30%;">
      <ju-button class="primary disabled">Button disabled</ju-button>

      <div style="height: 10px"></div>

      <ju-button class="outline-primary disabled">Button disabled</ju-button>
    </div>

  </div>

  <h3>Input</h3>

  <div style="width: 30%">

    <ju-input></ju-input>

    <div style="height: 10px"></div>

    <ju-input [disabled]="true"></ju-input>

  </div>

  <h3>Select</h3>

  <div style="width: 30%">
    <ju-select [options]="options"
               labelField="label"
               valueField="value">
    </ju-select>
  </div>

  <div style="height: 10px"></div>

  <h3>Checkbox</h3>

  <ju-checkbox>Checkbox</ju-checkbox>

  <div style="height: 10px"></div>

  <ju-checkbox class="disabled" disabled>Checkbox disabled</ju-checkbox>

  <div style="height: 10px"></div>

  <h3>Radio</h3>

  <ju-radio>Radio</ju-radio>

  <div style="height: 10px"></div>

  <h3>Card</h3>

  <ju-card>

    <div class="head">
      <div class="title">Title</div>
    </div>

    <div class="body">
      Card
    </div>

  </ju-card>

</div>




