@import "../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

[logo] {
  margin-right: $gutter-6;
}

[aside] {
  padding: $app-header-height 0 $app-footer-height 0;
  box-sizing: border-box;
  list-style: none;
  margin: $gutter-2 0;
  li {
    padding: $gutter-1 $gutter-2 $gutter-1 $gutter-5;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background-color: $gray-500;
    }
  }
}

[content] {
  min-height: calc(100vh - #{$app-footer-height});
  padding: $app-header-height 0 $gutter-5 0;
  box-sizing: border-box;
}

[footer] {
  padding-left: $app-aside-width;
}
