@import "../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

ul {
  list-style: none;
}

aside {
  position: fixed;
  width: 200px;
  border-right: 1px solid $gray-900;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

main {
  padding-left: 300px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
