@import "../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

ul {
  list-style: none;
}

aside {
  position: fixed;
  width: 300px;
  border-right: 1px solid $gray-900;
  top: 0;
  bottom: 0;
}

main {
  padding-left: 300px;
}
