@font-face {
  font-family: "junte-ui";
  src: url('./junte-ui.eot');
  src: url('./junte-ui.eot?#iefix') format('eot'),
  url('./junte-ui.woff') format('woff'),
  url('./junte-ui.ttf') format('truetype'),
  url('./junte-ui.svg#junte-ui') format('svg');
}

.icon-figma:before {
  content: "\ea01"
}
.icon-gitlab:before {
  content: "\ea02"
}
