<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <h1>Junte UI</h1>
      <h2>Very strong framework!</h2>

      <h4>Junte UI is a collection of quality UI components for Angular.</h4>

      <h3>Angular Support</h3>

      Angular ^7.1.0

      <h3>Version</h3>

      <jnt-link source="https://www.npmjs.com/package/junte-ui">npm</jnt-link>
      v0.0.117

      <h3>Installation</h3>

      <p>Install Junte UI with
        <jnt-link source="https://gitlab.com/junte/junte-ui" target="_blank">npm</jnt-link>
        :
      </p>

      <ngx-prism language="js">
<pre><![CDATA[
npm install junte-ui --save
]]></pre>
      </ngx-prism>

      <p>Once installed you need to import our main module.</p>

      <ngx-prism language="js">
<pre><![CDATA[
import { JunteUiModule } from 'junte-ui';

@NgModule({
  ...
  imports: [ JunteUiModule, ... ],
  ...
 })

export class AppModule {
}
]]></pre>
      </ngx-prism>

      <p>Import style and SVG icon assets file link in angular.json</p>

      <ngx-prism language="js">
<pre><![CDATA[
  {
...
"assets": [
           {
              "glob": "**/*",
              "input": "node_modules/junte-ui/lib/assets/fonts/icons/",
              "output": "./assets/fonts/icons/"
           }
          ],
            "styles": [
             "src/styles.scss",
             "node_modules/junte-ui/lib/assets/styles/icons.scss",
             "node_modules/junte-ui/lib/assets/fonts/open-sans/import.scss"
            ]
...
}

]]></pre>
      </ngx-prism>

      <p>Import the style files of the components you need into the global style file style.scss:</p>

      <ngx-prism language="js">
<pre><![CDATA[
@import "~junte-ui/lib/components/button/button.encapsulated";
@import "~junte-ui/lib/components/block/block.encapsulated";
@import "~junte-ui/lib/components/badge/badge.encapsulated";
...

]]></pre>
      </ngx-prism>

      <p>If you need all the components, then import the file components.scss:</p>

      <ngx-prism language="js">
<pre><![CDATA[
@import "~junte-ui/lib/assets/styles/components";
]]></pre>
      </ngx-prism>

      <p>Some components use angular animation, you need to import BrowserAnimationsModule to your application</p>

      <ngx-prism language="js">
<pre><![CDATA[
import { BrowserAnimationsModule } from '@angular/platform-browser/animations';

@NgModule({
  ...
  imports: [ BrowserAnimationsModule, ... ],
  ...
 })

export class AppModule {
}
]]></pre>
      </ngx-prism>


      <h3>Supported Browsers</h3>

      <p>Modern browsers and Internet Explorer 11+</p>

      <h3>Strong HTML</h3>

      <p>Junte UI uses multiple enums to set the input parameters of a component.
        Enums are in the class UI. Create an object of class UI to be able to use enums.</p>

      <ngx-prism language="js">
<pre><![CDATA[
import { UI } from 'junte-ui';
...

export class YourComponent {
  ui = UI;
}
]]></pre>
      </ngx-prism>

      <p>In the component, enter the input parameters using enums:</p>

      <ngx-prism language="html">
<pre><![CDATA[
<jnt-button [scheme]="ui.schemes.primary"
            [size]="ui.sizes.small"
            [outline]="ui.outline.ghost"
            [icon]="ui.icons.plus"
            [badge]="5"
            [loading]="true"
            [disabled]="false"
            [text]="Button">
</jnt-button>
]]></pre>
      </ngx-prism>

      <h3>Responsive Design</h3>

      <p>Junte UI has responsive design support. Enter the number of columns for the desired control points:</p>

      <ngx-prism language="html">
<pre><![CDATA[
<jnt-container>
  <jnt-row>
    <jnt-col [mobile]="12"
             [tablet]="6"
             [desktop]="4"
             [wide]="3">
      span-4
    </jnt-col>
  </jnt-row>
</jnt-container>
]]></pre>
      </ngx-prism>


      <h3>Themes Support</h3>
      <p>Style files are stored separately from the components, so any style can be changed and the project can be
        built.</p>

      <p>For development, we use Sass
        <jnt-link [source]="['/documentation', 'theming']">variables</jnt-link>
        , which you can customize according to personal preferences.
      </p>

      <h3>Sources</h3>

      <p>Junte UI is an open source project. If you have any problems, you can create a task in the
        <jnt-link source="https://gitlab.com/junte/junte-ui/issues">Gitlab</jnt-link>
        .
      </p>

      <p>You can also leave comments in our design system in
        <jnt-link source="https://www.figma.com/file/EIUNwZCXL9Nm5BKQKl43mfDr/Junte-UI?node-id=0%3A1">Figma</jnt-link>
      </p>

    </jnt-container>

  </jnt-app-body>
  <jnt-app-footer>
    <div footer>
      <small>Junte 2008 - 2019<br> Any rights are NOT reserved, use this as you want ;-)</small>
    </div>
  </jnt-app-footer>
</jnt-app-content>
