@import "../../../projects/junte-ui/src/lib/assets/styles/variables";

[about] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(180deg, rgba($primary-color, .8) 0%, rgba($primary-dark-color, .8) 100%),
  url('../../assets/images/about-bg.jpg') no-repeat;
  background-size: 100%, cover;
  mix-blend-mode: soft-light;
  text-align: center;
  h1 {
    font-size: 81px;
    line-height: 1.1;
    font-weight: $font-weight-base;
    color: $white-color;
    margin: 10px 0;
  }
  p {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
    color: $white-color;
    span {
      font-weight: 300;
    }
  }
  h1 {
    margin: 90px 0;
  }
}

[slide2] {
  background-color: $green-color;
  height: 100%;
}

[slide3] {
  background-color: $red-color;
  height: 100%;
}
