<jnt-app-main>
  <jnt-app-content>
    <jnt-app-body>
      <jnt-container>
        <h1>Junte UI</h1>
        <h2>Very strong framework!</h2>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Strong HTML</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">
            <ngx-prism language="html">
            <pre><![CDATA[
            <jnt-button [scheme]="ui.schemes.primary"
                        [size]="ui.sizes.small"
                        [outline]="ui.outline.ghost"
                        [icon]="ui.icons.plus"
                        [badge]="5"
                        [loading]="true"
                        [disabled]="false"
                        [text]="Button">
            </jnt-button>
            ]]></pre>
            </ngx-prism>
          </jnt-col>
        </jnt-row>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Responsive Design</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">
            <ngx-prism language="html">
                <pre><![CDATA[
                  <jnt-container>
                     <jnt-row>
                        <jnt-col [mobile]="12"
                                 [tablet]="6"
                                 [desktop]="4"
                                 [wide]="3">
                          span-4
                        </jnt-col>
                      </jnt-row>
                  </jnt-container>
                ]]></pre>
            </ngx-prism>
          </jnt-col>
        </jnt-row>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Themes Support</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">
            Style files are stored separately from the components, so any style can be changed and the project can be built.
          </jnt-col>
        </jnt-row>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Own Encapsulation</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">

          </jnt-col>
        </jnt-row>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Angular Support</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">
            Angular ^7.1.0
          </jnt-col>
        </jnt-row>

        <jnt-row>
          <jnt-col [mobile]="12" [tablet]="6">
            <h3>Free Open Source Project</h3>
          </jnt-col>
          <jnt-col [mobile]="12" [tablet]="6">
            GitLab, Figma
          </jnt-col>
        </jnt-row>

      </jnt-container>
    </jnt-app-body>
    <jnt-app-footer>
      <div footer>
        <small>Junte 2008 - 2019<br> Any rights are NOT reserved, use this as you want ;-)</small>
      </div>
    </jnt-app-footer>
  </jnt-app-content>
</jnt-app-main>
