<jnt-container>

  <form [formGroup]="form">
    <h1>Calendar</h1>

    <h3>Requirements</h3>

    <ol>
      <li>The day and arrows in calendar should respond to mouse hover, click</li>
      <li>Metrics can be added to the calendar</li>
      <li>The current day should always be highlighted</li>
      <li>The current week should be highlighted</li>
      <li>Selected day should be highlighted</li>
      <li>Weekend should be highlighted</li>
    </ol>

    <hr>

    <jnt-block>
      <jnt-calendar formControlName="dueDate" (updated)="period = $event">
      </jnt-calendar>
    </jnt-block>

    <ngx-prism language="html">
        <pre>
&lt;jnt-block&gt;
  &lt;jnt-calendar formControlName="dueDate" (updated)="period = $event"&gt;&lt;/jnt-calendar&gt;</pre>
&lt;/jnt-block&gt;
    </ngx-prism>

    <h3>Calendar with custom template day</h3>
    <jnt-block>
      <jnt-calendar formControlName="dueDate" (updated)="period = $event">
        <ng-template #dayTemplate let-date="date">
          <span style="color: blue">{{getDate(format(date))}}</span>
        </ng-template>
      </jnt-calendar>
    </jnt-block>

    <ngx-prism language="html">
        <pre>
&lt;jnt-block&gt;
  &lt;jnt-calendar formControlName="dueDate" (updated)="period = $event"&gt;
    &lt;ng-template #dayTemplate let-date="date"&gt;
      &lt;span style="color: blue"&gt;23&lt;/span&gt;
    &lt;/ng-template&gt;
  &lt;/jnt-calendar&gt;
&lt;/jnt-block&gt;</pre>
    </ngx-prism>

    <h3>Calendar with Metrics</h3>
    <jnt-block>
      <jnt-calendar formControlName="dueDate" (updated)="period = $event">
        <ng-template #metricTemplate let-metric="metric"
                     let-date="date">
          text
        </ng-template>

        <jnt-week-metric title="Test metric"></jnt-week-metric>
      </jnt-calendar>
    </jnt-block>

    <ngx-prism language="html">
        <pre>
&lt;jnt-block&gt;
  &lt;jnt-calendar formControlName="dueDate" (updated)="period = $event"&gt;
    &lt;ng-template #metricTemplate let-metric="metric" let-date="date"&gt;
      text
    &lt;/ng-template&gt;
    &lt;jnt-week-metric title="Test metric"&gt;&lt;/jnt-week-metric&gt;
  &lt;/jnt-calendar&gt;
&lt;/jnt-block&gt;</pre>
    </ngx-prism>

    <h1>Calendar Week</h1>

    <h3>Requirements</h3>

    <ul>
      <li>The day in calendar week should respond to mouse hover, click</li>
      <li>The current day should always be highlighted</li>
      <li>Change days occur using animation</li>
    </ul>

    <hr>

      <jnt-calendar-week [period]="dueDate.value">
      </jnt-calendar-week>

    <ngx-prism language="html">
        <pre>
&lt;jnt-calendar-week [period]="dueDate.value"&gt;&lt;/jnt-calendar-week&gt;</pre>
    </ngx-prism>

    <h3>Calendar Week with custom template day</h3>
    <jnt-calendar-week [period]="dueDate.value">
      <ng-template #dayTemplate let-date="date">
        <div>
          <i style="border: 2px solid red; border-radius: 5px;">Test</i>
        </div>
      </ng-template>
    </jnt-calendar-week>
  </form>
</jnt-container>
