<jnt-container>

  <jnt-app-page-header [icon]="localUi.icons.collapsible"
                       title="Collapsible"
                       i18n-title="@@label.collapsible"
                       [teaser]="handbook.layout.components.collapsible.teaser">

    <ng-template #headerActionsTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal">
        <jnt-link [icon]="ui.icons.gitlab"
                  [outline]="ui.outline.ghost"
                  [source]="gitlab"
                  target="_blank" title="GitLab"
                  i18n-title="@@action.gitlab">
        </jnt-link>
        <jnt-link [icon]="ui.icons.figma"
                  [outline]="ui.outline.ghost"
                  [source]="figma"
                  target="_blank" title="Figma"
                  i18n-title="@@action.figma">
        </jnt-link>
      </jnt-stack>

    </ng-template>
  </jnt-app-page-header>

  <jnt-stack [align]="ui.align.stretch">
    <jnt-tabs [features]="[ui.feature.adapted]">
      <jnt-tab title="Preview"
               i18n-title="@@label.preview"
               [icon]="localUi.icons.preview">
        <ng-template #tabContentTemplate>
          <jnt-row>
            <jnt-col [tablet]="8">
              <app-browser-preview>
                <ng-template #document let-height="height">
                  <jnt-collapsible [title]="!titleControl.value ? 'Filters' : null"
                                   [icon]="iconControl.value ? ui.icons.home : null"
                                   [orientation]="orientationControl.value"
                                   [opened]="openedControl.value">
                    <ng-template *ngIf="titleControl.value" #collapsibleTitleTemplate>
                      <jnt-stack [orientation]="ui.orientation.horizontal"
                                 [gutter]="ui.gutter.small"
                                 [align]="ui.align.center">
                        <jnt-icon data-filter-icon [icon]="ui.icons.home"></jnt-icon>
                        <p [ngSwitch]="locale">
                          <ng-container *ngSwitchDefault>
                            We’re determined to examine filters from your profile’s <b> data </b>,
                            You see <b> personalized </b> job offers.
                          </ng-container>
                          <ng-container *ngSwitchCase="language.ru">
                            Мы намерены изучить фильтры на основе <b> данных </b> вашего профиля,
                            Вы видите <b> персонализированные </b> предложения о работе.
                          </ng-container>
                        </p>
                      </jnt-stack>
                    </ng-template>
                    <ng-template #collapsibleContentTemplate>
                      <div [ngSwitch]="locale">
                        <ng-container *ngSwitchDefault>
                          Your personal filters are here
                        </ng-container>
                        <ng-container *ngSwitchCase="language.ru">
                          Ваши личные фильтры находятся здесь
                        </ng-container>>
                      </div>
                    </ng-template>
                  </jnt-collapsible>
                </ng-template>
              </app-browser-preview>
            </jnt-col>
            <jnt-col [tablet]="4">
              <jnt-form [formGroup]="builder">
                <jnt-stack [align]="ui.align.stretch">
                  <jnt-form-item>
                    <jnt-form-label for="orientation"
                                    i18n="@@label.orientation">Orientation
                    </jnt-form-label>
                    <jnt-select formControlName="orientation"
                                placeholder="Horizontal"
                                i18n-placeholder="@@label.horizontal"
                                [features]="[ui.feature.allowEmpty]">
                      <jnt-select-option label="Horizontal"
                                         i18n-label="@@label.horizontal"
                                         [icon]="localUi.icons.horizontal"
                                         [key]="ui.orientation.horizontal"></jnt-select-option>
                      <jnt-select-option label="Vertical"
                                         i18n-label="@@label.vertical"
                                         [icon]="localUi.icons.vertical"
                                         [key]="ui.orientation.vertical"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-item>
                  <jnt-form-item>
                    <jnt-form-label>Features</jnt-form-label>
                    <jnt-checkbox formControlName="title"
                                  i18n-label="@@label.custom_title"
                                  label="Custom title"></jnt-checkbox>
                  </jnt-form-item>

                  <jnt-form-item>
                    <jnt-checkbox formControlName="icon"
                                  label="Icon"
                                  i18n-label="@@label.icon"></jnt-checkbox>
                  </jnt-form-item>

                  <jnt-form-item>
                    <jnt-checkbox formControlName="opened"
                                  label="Opened"
                                  i18n-label="@@label.opened"></jnt-checkbox>
                  </jnt-form-item>
                </jnt-stack>
              </jnt-form>
            </jnt-col>
          </jnt-row>
        </ng-template>
      </jnt-tab>

      <jnt-tab #code title="Code"
               i18n-title="@@label.code"
               [icon]="localUi.icons.code">
        <ng-template #tabContentTemplate>
          <jnt-accordion [active]="1">
            <jnt-accordion-section title="How to start"
                                   i18n-title="@@label.how_to_start">
              <ng-template #accordionContentTemplate>
                <app-how-to-use
                  [test]="{selector:'collapsible-test', type: 'CollapsibleTestComponent'}"
                  scss="layout/collapsible"></app-how-to-use>
              </ng-template>
            </jnt-accordion-section>
            <jnt-accordion-section title="Component template"
                                   i18n-title="@@label.component_template">
              <ng-template #accordionContentTemplate>
                <app-code-highlight file="collapsible-test.template.html">
<!-- @formatter:off-->
<![CDATA[
<jnt-collapsible ]]>
<ng-container *ngIf="!titleControl.value">
  <![CDATA[ title="Filters"]]>
  <ng-container *ngIf="iconControl.value">
    <![CDATA[ [icon]="ui.icons.home"]]>
  </ng-container>
  <ng-container *ngIf="orientationControl.value">
    <![CDATA[ [orientation]="ui.orientation.]]>{{orientationControl.value}}<![CDATA["]]>
  </ng-container>
</ng-container>
  <![CDATA[>]]>
    <ng-container *ngIf="titleControl.value">
    <![CDATA[
    <ng-template #collapsibleTitleTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal"
        [gutter]="ui.gutter.small"
        [align]="ui.align.center">
        <jnt-icon data-filter-icon [icon]="ui.icons.information"></jnt-icon>
          <p>We’re determined to examine filters from your profile’s <b> data </b>,
            You see <b> personalized </b> job offers.</p>
      </jnt-stack>
    </ng-template>
    ]]>
  </ng-container>
  <![CDATA[
  <ng-template #collapsibleContentTemplate>
    Your personal filters are here
</ng-template>
</jnt-collapsible>
]]>
                  <!-- @formatter:on-->
                </app-code-highlight>
              </ng-template>
            </jnt-accordion-section>
          </jnt-accordion>
        </ng-template>
      </jnt-tab>

      <jnt-tab title="API" [icon]="localUi.icons.api">
        <ng-template #tabContentTemplate>
          <app-component-api selector="jnt-collapsible" [target]="types.collapsible"></app-component-api>
        </ng-template>
      </jnt-tab>
    </jnt-tabs>
  </jnt-stack>

</jnt-container>
