<jnt-container>

  <h1>Layout</h1>

  <iframe src="../frame.html" frameborder="0" width="100%" height="400px">
  </iframe>

  <jnt-block>
    <ngx-prism language="html">
<pre>
&lt;jnt-app-layout&gt;
  &lt;jnt-app-header&gt;
    &lt;div&gt;Header&lt;/div&gt;
  &lt;/jnt-app-header&gt;
  &lt;jnt-app-main&gt;
    &lt;jnt-app-aside&gt;
      &lt;div&gt;Aside&lt;/div&gt;
    &lt;/jnt-app-aside&gt;
    &lt;jnt-app-content&gt;
        &lt;jnt-app-body&gt;
          &lt;div&gt;Content&lt;/div&gt;
        &lt;/jnt-app-body&gt;
        &lt;jnt-app-footer&gt;
          Footer
        &lt;/jnt-app-footer&gt;
    &lt;/jnt-app-content&gt;
  &lt;/jnt-app-main&gt;
&lt;/jnt-app-layout&gt;</pre>
    </ngx-prism>
  </jnt-block>

  <h2>App-header</h2>

  <jnt-app-layout>
    <jnt-app-header>
      <ng-template #logo>
        <img src="https://teamprojector.com/assets/images/logo-white.svg" alt="">
      </ng-template>
      <ng-template #topMenu>
        <jnt-menu>
          <jnt-menu-item link="/developer" title="Developer" [icon]="ui.icons.check"></jnt-menu-item>
          <jnt-menu-item title="Team Leader"></jnt-menu-item>
          <jnt-menu-item title="Project Manager"></jnt-menu-item>
          <jnt-menu-item title="Customer"></jnt-menu-item>
        </jnt-menu>
      </ng-template>

      <ng-template #userbar>
        <jnt-userbar>
          <ng-template #avatar>
            <jnt-avatar [size]="ui.sizes.small"
                        image="https://assets.gitlab-static.net/uploads/-/system/user/avatar/2763000/avatar.png"></jnt-avatar>
          </ng-template>

          <ng-template #userMenu>
            <jnt-user-menu [type]="ui.type.vertical" [spacer]="ui.sizes.small">
              <jnt-menu-item title="Julia"></jnt-menu-item>
              <jnt-button text="Logout"></jnt-button>
            </jnt-user-menu>
          </ng-template>
        </jnt-userbar>
      </ng-template>

    </jnt-app-header>
  </jnt-app-layout>

  <jnt-block>
    <ngx-prism language="html">
<pre>
&lt;jnt-app-layout&gt;
  &lt;jnt-app-header&gt;
    &lt;ng-template #logo&gt;
        &lt;img src="path" alt=""&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #topMenu&gt;
      &lt;jnt-menu&gt;
        &lt;jnt-menu-item link="/developer" title="Developer" [icon]="ui.icons.check"&gt;&lt;/jnt-menu-item&gt;
        &lt;jnt-menu-item link="/leader" title="Team Leader"&gt;&lt;/jnt-menu-item&gt;
        &lt;jnt-menu-item link="/manager" title="Project Manager"&gt;&lt;/jnt-menu-item&gt;
        &lt;jnt-menu-item link="/customer" title="Customer"&gt;&lt;/jnt-menu-item&gt;
      &lt;/jnt-menu&gt;
    &lt;/ng-template&gt;
    &lt;ng-template #userbar&gt;
      &lt;jnt-userbar&gt;
        &lt;ng-template #avatar&gt;
          &lt;jnt-avatar [size]="ui.sizes.small" image="path">&lt;/jnt-avatar&gt;
        &lt;/ng-template&gt;
        &lt;ng-template #userMenu&gt;
          &lt;jnt-menu [type]="ui.type.vertical" [spacer]="ui.size.small"&gt;
            &lt;jnt-menu-item link="/logout" title="Logout">&lt;/jnt-menu-item&gt;
            &lt;jnt-menu-item link="/profile" title="Profile">&lt;/jnt-menu-item&gt;
            &lt;jnt-menu-item link="/settings" title="Settings">&lt;/jnt-menu-item&gt;
          &lt;/jnt-menu&gt;
        &lt;/ng-template&gt;
      &lt;/jnt-userbar&gt;
    &lt;/ng-template&gt;
  &lt;/jnt-app-header&gt;
&lt;/jnt-app-layout&gt;</pre>
    </ngx-prism>
  </jnt-block>

  <h3>API</h3>
  <h4>jnt-header</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[fixed]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>

  <h4>jnt-menu</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[type]</td>
      <td>-</td>
      <td>vertical | horizontal</td>
      <td>horizontal</td>
    </tr>
    <tr>
      <td>[spacer]</td>
      <td>-</td>
      <td>small | normal | large</td>
      <td>large</td>
    </tr>
    </tbody>
  </table>

  <h4>jnt-menu-item</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[title]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    <tr>
      <td>[link]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    <tr>
      <td>[icon]</td>
      <td>-</td>
      <td>Icons</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
