@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

[header], [footer] {
  height: 50px;
  color: white;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

[aside] {
  height: 100%;
  border-right: 1px solid $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-light-color;
  color: white;
}

[content] {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-light-color;
  color: white;
  width: 100%;
}

[icon] {
  color: white;
  transform: rotate(90deg);
}

[logo] {
  margin-right: $gutter-5;
}






