@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

[header], [footer] {
  height: 50px;
  color: white;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

[aside] {
  height: 100%;
  border-right: 1px solid $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-light-color;
  color: white;
}

[content] {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-light-color;
  color: white;
  width: 100%;
}

[icon] {
  color: white;
  transform: rotate(90deg);
}

[logo] {
  margin-right: $gutter-5;
}

[userbar] {
  position: relative;
  cursor: pointer;
  min-height: 70px;
  display: flex;
  align-items: center;
  &:hover {
    [usermenu] {
      display: block;
    }
  }
  [usermenu] {
    position: absolute;
    z-index: 1;
    width: 200px;
    top: 100%;
    right: -24px;
    background-color: white;
    border: 1px solid $gray-600;
    border-radius: $corner-sm;
    padding: 0 $gutter-4;
    display: none;
    ::ng-deep [item] [text] {
      color: $text-color;
    }
  }
}




