<jnt-container>

<h1>Layout</h1>

  <jnt-app-layout>
    <jnt-app-header>
      <div header>
        Header
      </div>
    </jnt-app-header>
    <jnt-app-main>
      <jnt-app-aside>
        <div aside>
          Aside
        </div>
      </jnt-app-aside>
      <jnt-app-content>
        <div content>
          Content
        </div>
      </jnt-app-content>
    </jnt-app-main>
    <jnt-app-footer>
      <div footer>
        Footer
      </div>
    </jnt-app-footer>
  </jnt-app-layout>

  <jnt-block>
    <ngx-prism language="html">
<pre>
&lt;jnt-app-layout&gt;
  &lt;jnt-app-header&gt;
    &lt;div&gt;Header&lt;/div&gt;
  &lt;/jnt-app-header&gt;
  &lt;jnt-app-main&gt;
    &lt;jnt-app-aside&gt;
      &lt;div&gt;Aside&lt;/div&gt;
    &lt;/jnt-app-aside&gt;
    &lt;jnt-app-content&gt;
      &lt;div&gt;Content&lt;/div&gt;
    &lt;/jnt-app-content&gt;
  &lt;/jnt-app-main&gt;
&lt;/jnt-app-layout&gt;</pre>
    </ngx-prism>
  </jnt-block>

</jnt-container>
