<jnt-container>
  <h1>Tabs</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The tab should respond to mouse hover, click</li>
  </ol>

  <hr>

  <jnt-tabs>
    <jnt-tab title="Personal" [active]="true">Template Personal</jnt-tab>
    <jnt-tab title="Security">Template Security</jnt-tab>
    <jnt-tab title="Settings">Template Settings</jnt-tab>
  </jnt-tabs>

  <jnt-tabs>
    <jnt-tab *ngFor="let tab of tabs" [title]="tab.title">{{tab.content}}</jnt-tab>
  </jnt-tabs>

  <ngx-prism language="html">
    <pre><![CDATA[
<jnt-tabs>
    <jnt-tab title="Personal" [active]="true">Template Personal</jnt-tab>
    <jnt-tab title="Security">Template Security</jnt-tab>
    <jnt-tab title="Settings">Template Settings</jnt-tab>
</jnt-tabs>
      ]]></pre>
  </ngx-prism>

  <h3>API</h3>
  <h4>jnt-tabs</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[title]</td>
      <td>-</td>
      <td>string</td>
      <td>-</td>
    </tr>
    </tbody>
  </table>

  <h4>jnt-tab</h4>

    <table api>
      <thead>
      <tr>
        <th>Property</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
      </tr>
      </thead>
      <tbody>
    <tr>
      <td>[active]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
