@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[block] {
  min-width: 100px;
}

[wrapper] {
  height: 150px;
  border: 1px dashed $primary-text-light-color;
  overflow: hidden;
  [block] {
    width: 30%;
  }
}

[form] {
  align-self: stretch;
}
