@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

:host {
  display: block;
}

[preview] {
  background: url("/assets/image/browser.svg");
  background-size: 100% auto;
  height: 580px;
  padding: 120px 30px 30px 30px;
  [stack] {
    height: 100%;
    overflow: hidden;
    [block] {
      width: 30%;
    }
  }
}

[resources] {
  position: absolute;
  top: 0;
  right: 0;
}

[block] {
  min-width: 100px;
}
