<jnt-container>
  <h1>Stack</h1>
  <h2>Vertical</h2>
  <jnt-row>
    <jnt-col col [span]="4"
             *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <jnt-stack [gutter]="gutter">
        <div block *ngFor="let element of [1, 2, 3, 4, 5]" style="width:100%">{{gutter}}</div>
      </jnt-stack>
    </jnt-col>
  </jnt-row>

  <h2>Horizontal</h2>
  <jnt-stack [gutter]="ui.stack.gutter.large">
    <jnt-stack [gutter]="gutter" [type]="ui.stack.type.horizontal"
               *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <div block *ngFor="let col of [1, 2, 3, 4, 5]" style="width: 100%">{{gutter}}</div>
    </jnt-stack>
  </jnt-stack>

  <jnt-row>
<pre>
  &lt;jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.small"&gt;
   &lt;div&gt;small&lt;/div&gt;
  &lt;/jnt-stack&gt;</pre>
    <pre>
  &#91;type&#93; = &#123;vertical, horizontal&#125;</pre>
    <pre>
  &#91;gutter&#93; = &#123;small, normal, large&#125;</pre>
  </jnt-row>
</jnt-container>
