<jnt-container>
  <h1>Stack</h1>
  <h2>Vertical</h2>
  <jnt-row>
    <jnt-col col [span]="4"
             *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <jnt-stack [gutter]="gutter">
        <div block *ngFor="let element of [1, 2, 3, 4, 5]" style="width:100%">{{gutter}}</div>
      </jnt-stack>
    </jnt-col>
  </jnt-row>


  <h2>Horizontal</h2>
  <jnt-stack [gutter]="ui.stack.gutter.large">
    <jnt-stack [gutter]="gutter" [type]="ui.stack.type.horizontal"
               *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <div block *ngFor="let col of [1, 2, 3, 4, 5]" style="width: 100%">{{gutter}}</div>
    </jnt-stack>
  </jnt-stack>
</jnt-container>
