<jnt-container>
  <h1>Stack</h1>
  <h2>Vertical</h2>
  <jnt-row>
    <jnt-col col [span]="4"
             *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <jnt-stack [gutter]="gutter">
        <div block *ngFor="let element of [1, 2, 3, 4, 5]" style="width:100%">{{gutter}}</div>
      </jnt-stack>
    </jnt-col>
  </jnt-row>

  <h2>Horizontal</h2>
  <jnt-stack [gutter]="ui.stack.gutter.large">
    <jnt-stack [gutter]="gutter" [type]="ui.stack.type.horizontal"
               *ngFor="let gutter of [ui.stack.gutter.small, ui.stack.gutter.normal, ui.stack.gutter.large]">
      <div block *ngFor="let col of [1, 2, 3, 4, 5]">{{gutter}}</div>
    </jnt-stack>
  </jnt-stack>

  <jnt-block>
    <ngx-prism language="html">
<pre>
&lt;jnt-stack [type]="ui.stack.type.horizontal" [gutter]="ui.stack.gutter.small"&gt;
  &lt;div&gt;small&lt;/div&gt;
&lt;/jnt-stack&gt;</pre>
    </ngx-prism>
  </jnt-block>
  <h3>API</h3>
  <h4>jnt-stack</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[type]</td>
      <td>-</td>
      <td>vertical | horizontal</td>
      <td>vertical</td>
    </tr>
    <tr>
      <td>[gutter]</td>
      <td>-</td>
      <td>small | normal | large</td>
      <td>normal</td>
    </tr>
    <tr>
      <td>[justify]</td>
      <td>-</td>
      <td>start | end | around | between | evenly</td>
      <td>start</td>
    </tr>
    <tr>
      <td>[align]</td>
      <td>-</td>
      <td>start | end | stretch | baseline | center</td>
      <td>stretch</td>
    </tr>
    <tr>
      <td>[wrap]</td>
      <td>-</td>
      <td>wrap | noWrap | reverse</td>
      <td>wrap</td>
    </tr>
    </tbody>
  </table>

</jnt-container>
