@import '../../component';
@import 'layout/card';
$jnt-ng-deep: true;

[data-hero] {
  cursor: pointer;
  width: 100%;
  &[data-selected='true'] {
    @include jnt-card((border: 1px solid $jnt-primary-color), '&');
  }
}
