@import 'jnt-variables';
@import '../component';
@import 'elements/icon';
$jnt-ng-deep: true;

:host {
  display: block;
}

h2 {
  color: $jnt-primary-light-color;
  font-size: $jnt-font-size-big;
  margin: $jnt-gutter-normal 0;
  font-weight: $jnt-font-weight-bold;
  display: flex;
  align-items: center;
}

[data-name] {
  font-size: $jnt-h4-font-size;
  color: $jnt-primary-light-color;
}

[data-card] {
  height: 100%;

  [data-icon] {
    @include jnt-icon((size: 30px, color: $jnt-primary-light-color), '&');
  }
}
