/*Color*/

$blue: #E7F5FF;
$orange: #EE8030;
$green: #00CCB1;
$teal: #1D2932;
$red: #FF6262;
$yellow: #F8DB42;
$purple: #3949AB;
$purple-dark: #00227B;
$purple-light: #6F74DD;

$gray-400: #E9E9E9;
$gray-500: #F3F4FC;
$gray-600: #828282;
$gray-700: #4F4F4F;
//$gray-800: #7D7D7D;

$text-color: #4F4F4F;

$corner-sm: 4px;
$corner-md: 8px;
$corner-lg: 40px;

/*Button*/

$btn-corner: $corner-lg;
$btn-padding-x: 20px;
$btn-padding-y: 10px;
