/*Color*/

$blue: #E7F5FF;
$orange: #EE8030;
$green: #00CCB1;
$teal: #1D2932;
$red: #FF6262;
$yellow: #F8DB42;
$purple: #3949AB;
$purple-dark: #00227B;
$purple-light: #6F74DD;

$gray-400: #E9E9E9;
$gray-500: #F3F4FC;
$gray-600: #828282;
$gray-700: #4F4F4F;
//$gray-800: #7D7D7D;

$text-color: #4F4F4F;

$corner-sm: 4px;
$corner-md: 8px;
$corner-lg: 40px;

$spacer: 10px;

$gutter-1: $spacer;
$gutter-2: $spacer * 1.5;
$gutter-3: ($spacer * 2);
$gutter-4: ($spacer * 2.5);
$gutter-5: ($spacer * 3);
$gutter-6: ($spacer * 3.5);
$gutter-7: ($spacer * 4);
$gutter-8: ($spacer * 5);

/*Button*/

$btn-corner: $corner-lg;
$btn-padding-x: $gutter-7;
$btn-padding-y: $gutter-1;

/*Select*/

$select-corner: $corner-sm;
