@import 'jnt-variables';
@import 'jnt-common';
@import 'jnt-reset';

body {
  font-family: $jnt-font-family-base;

  &[data-busy] {
    cursor: progress;
  }
}

code {
  font-family: 'Space Mono', monospace;
  color: $jnt-red-dark-color;
}
