
$gray-200: #F7F7F7;
$gray-500: #F3F4FC;
$gray-700: #D0D0D0;
$gray-600: #C4C4C4;
$gray-100: #F5F5F5;
$primary-text-color: $gray-500;
$primary-dark-text-color: $gray-200;
$primary-light-text-color: $gray-600;
$gray-dark: #343434;
$gray-dark-200: #1A1A1A;
$app-aside-bg: $gray-dark-200;
$app-body-bg: $gray-dark;
$app-sub-header-bg: $gray-dark;

$avatar-bg: $gray-dark-200;
$block-bg: $gray-dark-200;
$calendar-weekend-bg: $gray-dark;

@import "../projects/junte-ui/src/lib/assets/styles/components";
@import "../projects/junte-ui/src/lib/assets/styles/common";


[block] {
  color: $white-color;
  text-align: center;
  background-color: $primary-light-color;
  padding: 20px;
  box-sizing: border-box;
}

[row] {
  background-color: $gray-300;
}

[col] {
  color: $white-color;
  text-align: center;
  background-color: $primary-light-color;
  padding: 20px 0;
  border: 1px solid $primary-color;
}

pre {
  background-color: $gray-300;
  width: 100%;
  padding: $gutter-small;
  box-sizing: border-box;
}

table[api] {
  width: 100%;
  border-collapse: collapse;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  td, th {
    padding: $gutter-normal;
    border: 1px solid $gray-700;
  }
  th {
    background-color: $gray-400;
  }
  td:nth-child(1) {
    width: 20%;
  }
  td:nth-child(4) {
    width: 20%;
  }
  td:nth-child(3) {
    color: #905;
    width: 40%;
  }
}

pre[class*="language-"] {
  margin-top: $gutter-big !important;
}

//$red: #c60603;
//$red-light: #f44744;
//$red-dark: #720503;
//
//$primary-color: $red;
//$primary-light-color: $red-light;
//$primary-dark-color: $red-dark;
//
//$menu-item-active-color-in-aside: $primary-color;
