@import "../projects/junte-ui/src/lib/assets/styles/components/avatar/avatars-group/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/avatar/avatars-list/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-sub-header/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/calendar/week/day/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-header/userbar/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/pagination/page-size/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/menu/user-menu/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/grid/row/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/grid/container/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/grid/col/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/form/form-message/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/form/form-label/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/form/form-item/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/form/form-control/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/calendar/week/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-main/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-header/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-footer/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-content/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-body/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/app-aside/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/tabs/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/table/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/switch/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/stack/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/spinner/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/skeleton/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/select/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/radio/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/pagination/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/menu/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/link/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/label/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/input/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/icon/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/form/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/checkbox/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/card/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/calendar/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/button/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/block/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/badge/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/avatar/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/app-layout/encapsulated";
@import "../projects/junte-ui/src/lib/assets/styles/components/avatar/avatars-list/encapsulated";


[block] {
  color: $white-color;
  text-align: center;
  background-color: $primary-light-color;
  padding: 20px;
  box-sizing: border-box;
}

[row] {
  background-color: $gray-300;
}

[col] {
  color: $white-color;
  text-align: center;
  background-color: $primary-light-color;
  padding: 20px 0;
  border: 1px solid $primary-color;
}

pre {
  background-color: $gray-300;
  width: 100%;
  padding: $gutter-2;
  box-sizing: border-box;
}

table[api] {
  width: 100%;
  border-collapse: collapse;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  td, th {
    padding: $gutter-3;
    border: 1px solid $gray-700;
  }
  th {
    background-color: $gray-400;
  }
  td:nth-child(1) {
    width: 20%;
  }
  td:nth-child(4) {
    width: 20%;
  }
  td:nth-child(3) {
    color: #905;
    width: 40%;
  }
}

pre[class*="language-"] {
  margin-top: $gutter-4 !important;
}

