<jnt-container>

  <jnt-app-page-header [icon]="localUi.icons.radio"
                       title="Radio"
                       i18n-title="@@label.radio"
                       [teaser]="handbook.forms.components.radio.teaser">

    <ng-template #headerActionsTemplate>
      <jnt-stack [orientation]="ui.orientation.horizontal">
        <jnt-link [icon]="ui.icons.gitlab"
                  [outline]="ui.outline.ghost"
                  [source]="gitlab"
                  target="_blank" title="GitLab"
                  i18n-title="@@action.gitlab">
        </jnt-link>
        <jnt-link [icon]="ui.icons.figma"
                  [outline]="ui.outline.ghost"
                  [source]="figma"
                  target="_blank" title="Figma"
                  i18n-title="@@action.figma">
        </jnt-link>
      </jnt-stack>

    </ng-template>
  </jnt-app-page-header>

  <jnt-tabs #tabs [features]="[ui.feature.adapted]">
    <jnt-tab title="Preview"
             i18n-title="@@label.preview"
             [icon]="localUi.icons.preview">
      <ng-template #tabContentTemplate>
        <jnt-row>

          <jnt-col [tablet]="9">
            <app-browser-preview preview>
              <ng-template #document>

                <jnt-block #block title="Your hero"
                           i18n-title="@@label.your_hero">
                  <jnt-form [formGroup]="form" (submitted)="submit()">
                    <jnt-stack [orientation]="colsControl.value <= 1 && orientationControl.value !== ui.orientation.horizontal ? ui.orientation.horizontal : ui.orientation.vertical"
                               [wrap]="ui.wrap.wrap"
                               [spacing]="ui.gutter.normal"
                               [gutter]="ui.gutter.big"
                               [align]="ui.align.center">
                      <jnt-form-control name="hero">
                        <jnt-radio-group formControlName="hero"
                                         [features]="adaptedControl.value ? [ui.feature.adapted] : null"
                                         [orientation]="orientationControl.value"
                                         [spacing]="spacingControl.value"
                                         [align]="ui.align.center"
                                         [cols]="colsControl.value"
                                         [size]="sizeControl.value">
                          <jnt-radio *ngFor="let hero of heroes | keyvalue: originalOrder | slice:0:3"
                                     [label]="hero.value.name"
                                     i18n-label="{{hero.value.i18n}}"
                                     [value]="hero.value.code">
                            <ng-template *ngIf="customControl.value" #radioLabelTemplate>
                              <jnt-stack [orientation]="ui.orientation.horizontal"  data-custom
                                         [align]="ui.align.center"
                                         [justify]="ui.justify.between">
                                <jnt-stack [orientation]="ui.orientation.horizontal"
                                           [gutter]="ui.gutter.small"
                                           [align]="ui.align.center">
                                  <jnt-avatar [image]="hero.value.avatar" [size]="ui.size.tiny"></jnt-avatar>
                                  <span i18n="{{hero.value.i18n}}">{{hero.value.name}}</span>
                                </jnt-stack>
                                <ng-container *ngIf="orientationControl.value != ui.orientation.horizontal">
                                  <jnt-label data-universe [label]="hero.value.universe.name"
                                             [color]="hero.value.universe.color"></jnt-label>
                                </ng-container>
                              </jnt-stack>
                            </ng-template>
                          </jnt-radio>
                          <ng-container *ngIf="orientationControl.value != ui.orientation.horizontal || colsControl.value > 1">
                            <jnt-radio *ngFor="let hero of heroes | keyvalue: originalOrder | slice:3:6"
                                       [label]="hero.value.name"
                                       i18n-label="{{hero.value.i18n}}"
                                       [value]="hero.value.code">
                              <ng-template *ngIf="customControl.value" #radioLabelTemplate>
                                <jnt-stack [orientation]="ui.orientation.horizontal"  data-custom
                                           [align]="ui.align.center"
                                           [justify]="ui.justify.between">
                                  <jnt-stack [orientation]="ui.orientation.horizontal"
                                             [gutter]="ui.gutter.small"
                                             [align]="ui.align.center">
                                    <jnt-avatar [image]="hero.value.avatar" [size]="ui.size.tiny"></jnt-avatar>
                                    <span i18n="{{hero.value.i18n}}">{{hero.value.name}}</span>
                                  </jnt-stack>
                                  <jnt-label data-universe [label]="hero.value.universe.name"
                                             [color]="hero.value.universe.color"></jnt-label>
                                </jnt-stack>
                              </ng-template>
                            </jnt-radio>
                          </ng-container>

                        </jnt-radio-group>
                        <jnt-form-message [validator]="ui.validator.required"
                                          i18n="@@message.please_select_the_hero">
                          Please select the hero
                        </jnt-form-message>
                      </jnt-form-control>

                      <jnt-stack *ngIf="heroControl.value.length" [align]="ui.align.center">
                        <ng-container *ngFor="let hero of heroes | keyvalue">
                          <jnt-avatar *ngIf="heroControl.value === hero.value.code"
                                      [size]="ui.size.large"
                                      [image]="hero.value.avatar"></jnt-avatar>
                        </ng-container>
                      </jnt-stack>
                    </jnt-stack>
                    <ng-template #formFooterTemplate>
                      <jnt-stack [orientation]="ui.orientation.horizontal"
                                 [justify]="ui.justify.between">
                        <jnt-button text="Set superman"
                                    i18n-text="@@action.set_superman"
                                    (click)="setHero()">
                        </jnt-button>
                        <jnt-button text="Submit"
                                    i18n-text="@@action.submit"
                                    [type]="ui.button.type.submit"></jnt-button>
                        <jnt-button text="Reset"
                                    i18n-text="@@action.reset"
                                    [scheme]="ui.scheme.secondary"
                                    (click)="form.reset()"></jnt-button>
                      </jnt-stack>
                    </ng-template>
                  </jnt-form>
                </jnt-block>
              </ng-template>
            </app-browser-preview>
          </jnt-col>

          <jnt-col [tablet]="3">
            <jnt-form [formGroup]="builder">
              <jnt-stack [align]="ui.align.stretch">

                <jnt-form-item>
                  <jnt-form-label for="size" i18n="@@label.size">Size</jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="size"
                                placeholder="Normal"
                                i18n-placeholder="@@label.normal"
                                [features]="ui.feature.allowEmpty">
                      <jnt-select-option label="Tiny"
                                         i18n-label="@@label.tiny"
                                         [icon]="localUi.icons.tiny"
                                         [key]="ui.size.tiny"></jnt-select-option>
                      <jnt-select-option label="Small"
                                         i18n-label="@@label.small"
                                         [icon]="localUi.icons.small"
                                         [key]="ui.size.small"></jnt-select-option>
                      <jnt-select-option label="Normal"
                                         i18n-label="@@label.normal"
                                         [icon]="localUi.icons.normal"
                                         [key]="ui.size.normal"></jnt-select-option>
                      <jnt-select-option label="Large"
                                         i18n-label="@@label.large"
                                         [icon]="localUi.icons.large"
                                         [key]="ui.size.large"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label for="orientation"
                                  i18n="@@label.orientation">Orientation
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="orientation"
                                placeholder="Vertical"
                                i18n-placeholder="@@label.vertical"
                                [features]="ui.feature.allowEmpty">
                      <jnt-select-option label="Horizontal"
                                         i18n-label="@@label.horizontal"
                                         [icon]="localUi.icons.horizontal"
                                         [key]="ui.orientation.horizontal"></jnt-select-option>
                      <jnt-select-option label="Vertical"
                                         i18n-label="@@label.vertical"
                                         [icon]="localUi.icons.vertical"
                                         [key]="ui.orientation.vertical"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label for="spacing"
                                  i18n="@@label.spacing">Spacing
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="spacing"
                                placeholder="Small"
                                i18n-placeholder="@@label.small"
                                [features]="ui.feature.allowEmpty">
                      <jnt-select-option label="None"
                                         i18n-label="@@label.none"
                                         [key]="ui.gutter.none"></jnt-select-option>
                      <jnt-select-option label="Tiny"
                                         i18n-label="@@label.tiny"
                                         [icon]="localUi.icons.gutter.tiny"
                                         [key]="ui.gutter.tiny"></jnt-select-option>
                      <jnt-select-option label="Small"
                                         i18n-label="@@label.small"
                                         [icon]="localUi.icons.gutter.small"
                                         [key]="ui.gutter.small"></jnt-select-option>
                      <jnt-select-option label="Normal"
                                         i18n-label="@@label.normal"
                                         [icon]="localUi.icons.gutter.normal"
                                         [key]="ui.gutter.normal"></jnt-select-option>
                      <jnt-select-option label="Big"
                                         i18n-label="@@label.big"
                                         [icon]="localUi.icons.gutter.big"
                                         [key]="ui.gutter.big"></jnt-select-option>
                      <jnt-select-option label="Large"
                                         i18n-label="@@label.large"
                                         [icon]="localUi.icons.gutter.large"
                                         [key]="ui.gutter.large"></jnt-select-option>
                      <jnt-select-option label="Huge"
                                         i18n-label="@@label.huge"
                                         [icon]="localUi.icons.gutter.huge"
                                         [key]="ui.gutter.huge"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label for="cols"
                                  i18n="@@label.cols">Columns
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-select formControlName="cols"
                                placeholder="1"
                                [disabled]="orientationControl.value === ui.orientation.horizontal ? true : false"
                                [features]="[ui.feature.allowEmpty]">
                      <jnt-select-option *ngFor="let col of [1,2,3]"
                                         [label]="col"
                                         [key]="col"></jnt-select-option>
                    </jnt-select>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label i18n="@@label.state">State
                  </jnt-form-label>
                  <jnt-form-control>
                    <jnt-checkbox formControlName="disable"
                                  i18n-label="@@label.disabled"
                                  label="Disabled"></jnt-checkbox>
                  </jnt-form-control>
                </jnt-form-item>

                <jnt-form-item>
                  <jnt-form-label i18n="@@label.features">Features
                  </jnt-form-label>
                  <jnt-row>
                    <jnt-col [span]="7">
                      <jnt-checkbox formControlName="custom"
                                    i18n-label="@@label.custom_template"
                                    label="Custom template"></jnt-checkbox>
                    </jnt-col>
                    <jnt-col [span]="5">
                      <jnt-checkbox formControlName="adapted"
                                    i18n-label="@@label.adapted"
                                    label="Adapted"></jnt-checkbox>
                    </jnt-col>
                  </jnt-row>
                </jnt-form-item>

              </jnt-stack>
            </jnt-form>
          </jnt-col>

        </jnt-row>
      </ng-template>
    </jnt-tab>
    <jnt-tab title="Code"
             i18n-title="@@label.code"
             [icon]="localUi.icons.code">
      <ng-template #tabContentTemplate>
        <jnt-accordion [active]="1">
          <jnt-accordion-section title="How to start"
                                 i18n-title="@@label.how_to_start">
            <ng-template #accordionContentTemplate>
              <app-how-to-use
                [test]="{selector:'radio-test', type: 'RadioTestComponent'}"
                scss="forms/radio">
                <ng-template #behaviourTemplate>
                  <!-- @formatter:off-->
                  <![CDATA[
                  import { Component, OnInit, ViewChild } from '@angular/core';
                  import { FormBuilder, FormControl } from '@angular/forms';
                  import { RadioComponent, TabComponent, UI } from '@junte/ui';

                  @Component({
                  selector: 'app-radio-test',
                  templateUrl: './radio-test.component.html',
                  styleUrls: ['./radio-test.component.scss']
                  })

                  export class RadioTestComponent implements OnInit {

                  ui = UI;

                  radioGroupControl = new FormControl();

                  form = this.fb.group({
                  radioGroup: this.radioGroupControl
                  });

  constructor(private fb: FormBuilder) {
                  }

                  }
                  ]]>
                  <!-- @formatter:on-->
                </ng-template>
              </app-how-to-use>
            </ng-template>
          </jnt-accordion-section>
          <jnt-accordion-section title="Component template"
                                 i18n-title="@@label.component_template">
            <ng-template #accordionContentTemplate>
              <app-code-highlight file="radio-test.component.html">
                <!-- @formatter:off-->
                <ng-template #sizeTemplate>
                  <![CDATA[ [size]="ui.size.]]>{{sizeControl.value}}<![CDATA["]]>
                </ng-template>
                <![CDATA[
                <jnt-form [formGroup]="builder">
                  <jnt-radio-group formControlName="radioGroup" ]]>
                    <ng-container *ngIf="colsControl.value">
                      <![CDATA[ [cols]="]]>{{colsControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="spacingControl.value">
                      <![CDATA[ [spacing]="]]>{{spacingControl.value}}<![CDATA["]]>
                    </ng-container>
                    <ng-container *ngIf="orientationControl.value">
                      <![CDATA[ [orientation]="]]>{{orientationControl.value}}<![CDATA["]]>
                    </ng-container>
                    <![CDATA[>
                    <jnt-radio value="Option 1" ]]>
                      <ng-container *ngIf="disableControl.value">
                        <![CDATA[ disabled="]]>{{disableControl.value}}<![CDATA["]]>
                      </ng-container>
                      <ng-container *ngIf="sizeControl.value">
                        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
                      </ng-container>
                      <![CDATA[ >
                    </jnt-radio>
                    ]]>
                    <![CDATA[
                    <jnt-radio value="Option 2" label="Label 2" ]]>
                      <ng-container *ngIf="sizeControl.value">
                        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
                      </ng-container>
                      <![CDATA[>
                    </jnt-radio>
                    ]]>

                    <![CDATA[
                    <jnt-radio value="Option 3" label="Label 3" ]]>
                      <ng-container *ngIf="sizeControl.value">
                        <ng-template [ngTemplateOutlet]="sizeTemplate"></ng-template>
                      </ng-container>
                      <![CDATA[>
                    </jnt-radio>
                    ]]>

                    <![CDATA[
                  </jnt-radio-group>
                </jnt-form>
                ]]>
              </app-code-highlight>
            </ng-template>
          </jnt-accordion-section>
        </jnt-accordion>
      </ng-template>
    </jnt-tab>
    <jnt-tab title="API" [icon]="localUi.icons.api">
      <ng-template #tabContentTemplate>
        <app-component-api selector="jnt-radio" [target]="types.radio"></app-component-api>
        <app-component-api selector="jnt-radio-group" [target]="types.group"></app-component-api>
      </ng-template>
    </jnt-tab>
  </jnt-tabs>

</jnt-container>
