<jnt-container>
  <h1>Form</h1>
  <jnt-form [layout]="ui.form.layout.horizontal" [title]="header" [footer]="footer">
    <ng-template #header>
      <h3>Personal details</h3>
    </ng-template>

    <jnt-form-item>
      <label>Username</label>
      <jnt-input placeholder="Name"></jnt-input>
    </jnt-form-item>

    <jnt-form-item>
      <label>Username</label>
      <jnt-input placeholder="Name"></jnt-input>
    </jnt-form-item>

    <ng-template #footer>
      <jnt-stack [type]="ui.stack.type.horizontal">
        <jnt-button text="Save changes"></jnt-button>
        <jnt-button [scheme]="ui.schemes.secondary" text="Cancel"></jnt-button>
      </jnt-stack>
    </ng-template>
  </jnt-form>
</jnt-container>
