<jnt-container>
  <h1>Block</h1>
  <jnt-stack>
    <jnt-block [size]="ui.sizes.large">
      <img src="https://imgplaceholder.com/200x200/transparent/757575/glyphicon-picture">
    </jnt-block>
    <h2>Block with loading</h2>
    <jnt-block [loading]="true" [size]="ui.sizes.large">
      <img src="https://imgplaceholder.com/200x200/transparent/757575/glyphicon-picture">
    </jnt-block>

      <ngx-prism language="html">
<pre>
  &lt;jnt-block [loading]="true" [size]="ui.sizes.large"&gt;
   &lt;div&gt;Content&lt;/div&gt;
  &lt;/jnt-block&gt;</pre>
      </ngx-prism>

    <h2>Block with error</h2>
    <jnt-block [error]="true">
      <img src="https://imgplaceholder.com/200x200/transparent/757575/glyphicon-picture">
    </jnt-block>
  </jnt-stack>

    <ngx-prism language="html">
    <pre>
  &lt;jnt-block [error]="true"&gt;
   &lt;div&gt;Content&lt;/div&gt;
  &lt;/jnt-block&gt;</pre>
    </ngx-prism>

  <h3>API</h3>
  <h4>jnt-block</h4>
  <table api>
    <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>[size]</td>
      <td>-</td>
      <td>small | normal | large</td>
      <td>small</td>
    </tr>
    <tr>
      <td>[error]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    <tr>
      <td>[loading]</td>
      <td>-</td>
      <td>true | false</td>
      <td>false</td>
    </tr>
    </tbody>
  </table>
</jnt-container>
