<jnt-app-content>
  <jnt-app-body>
    <jnt-container>
      <p>We love❤️ everybody who helps us create better products.
        Please offer your merge requests
        <jnt-link source="https://gitlab.com/junte/junte-ui/merge_requests"
                  [icon]="ui.icons.externalLink"
                  [outline]="ui.outline.ghost"
                  target="_blank"
                  title="here"></jnt-link>
      </p>
      <p>We always search frontend developers or designers to our team.
        Please,
        <jnt-link source="mailto:tech@junte.it"
                  title="contact us"
                  [icon]="ui.icons.mail"
                  [outline]="ui.outline.ghost"></jnt-link>
        for interesting job together!
      </p>
      <h2>Our team</h2>
      <jnt-row>
        <jnt-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
          <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar image="assets/image/contributors/selezneva.jpg"></jnt-avatar>
            <jnt-stack [gutter]="ui.gutter.tiny">
              <div>Julia Selezneva</div>
              <small>Chief markup master</small>
            </jnt-stack>
          </jnt-stack>
          <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar image="assets/image/contributors/breslavsky.jpg"></jnt-avatar>
            <jnt-stack [gutter]="ui.gutter.tiny">
              <div>Anton Breslavsky</div>
              <small>Frontend Expert</small>
            </jnt-stack>
          </jnt-stack>
        </jnt-col>
        <jnt-col [mobile]="12" [tablet]="6" [desktop]="4" [wide]="3" team>
          <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar image="assets/image/contributors/gromov.jpg"></jnt-avatar>
            <jnt-stack [gutter]="ui.gutter.tiny">
              <div>Roman Gromov</div>
              <small>Frontend Developer</small>
            </jnt-stack>
          </jnt-stack>
          <jnt-stack [type]="ui.stack.type.horizontal" [align]="ui.flex.align.center">
            <jnt-avatar image="assets/image/contributors/yashin.jpg"></jnt-avatar>
            <jnt-stack [gutter]="ui.gutter.tiny">
              <div>Dmitri Yashin</div>
              <small>Figma Master</small>
            </jnt-stack>
          </jnt-stack>
        </jnt-col>
      </jnt-row>
    </jnt-container>
  </jnt-app-body>
  <app-footer #footer></app-footer>
</jnt-app-content>
