<jnt-container [fluid]="true">
  <h1>Table</h1>
  <jnt-block [fluid]="true">
    <jnt-table>
      <jnt-table-column title="Label" sort="label">
        <ng-template #cellTemplate let-label="label">
          {{label}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Value" sort="value">
        <ng-template #cellTemplate let-value="value">
          {{value}}
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-block>

    <ngx-prism language="html">
      <pre>
&lt;jnt-block&gt;
  &lt;jnt-table&gt;
    &lt;jnt-table-column title="Label" sort="label">
        &lt;ng-template #cellTemplate let-label="label"&gt;&#123;label&#125;&lt;/ng-template&gt;
    &lt;/jnt-table-column&gt;
    &lt;jnt-table-column title="Value" sort="value">
        &lt;ng-template #cellTemplate let-value="value"&gt;&#123;value&#125;&lt;/ng-template&gt;
    &lt;/jnt-table-column&gt;
  &lt;/jnt-table&gt;
&lt;/jnt-block&gt;</pre>
    </ngx-prism>

</jnt-container>

