<jnt-container>
  <h1>Table</h1>

  <h3>Requirements</h3>

  <ol>
    <li>The table should show the loading</li>
    <li>The table row should respond to mouse hover</li>
    <li>The table must include pagination</li>
    <li>The table must include action buttons (reload, add, etc.)</li>
  </ol>

  <hr>

  <jnt-block [fluid]="true">
    <jnt-table>
      <jnt-table-column title="Label" sort="label">
        <ng-template #cellTemplate let-label="label">
          {{label}}
        </ng-template>
      </jnt-table-column>

      <jnt-table-column title="Value" sort="value">
        <ng-template #cellTemplate let-value="value">
          {{value}}
        </ng-template>
      </jnt-table-column>
    </jnt-table>
  </jnt-block>

    <ngx-prism language="html">
      <pre><![CDATA[
<jnt-block>
  <jnt-table>
    <jnt-table-column title="Label" sort="label">
        <ng-template #cellTemplate let-label="label">{{ label }}</ng-template>
    </jnt-table-column>
    <jnt-table-column title="Value" sort="value">
        <ng-template #cellTemplate let-value="value">{{ value }}</ng-template>
    </jnt-table-column>
  </jnt-table>
</jnt-block>
      ]]></pre>
    </ngx-prism>

</jnt-container>

