@import "../../../../projects/junte-ui/src/lib/assets/styles/variables";

[colors] {
  background-color: $white-color;
  padding: $gutter-small;
  [label] {
    margin-bottom: $gutter-normal;
    color: $primary-text-color;
  }
}

[corner-small] {
  border-radius: $corner-small;
}

[corner-normal] {
  border-radius: $corner-normal;
}

[corner-large] {
  border-radius: $corner-large;
}

[shadow] {
  width: 100px;
  height: 100px;
  background-color: $white-color;
  padding: $gutter-small;
  border-radius: $corner-normal;
  box-sizing: border-box;
  &[primary] {
    box-shadow: $shadow-primary;
  }
  &[light] {
    box-shadow: $shadow-light;
  }
  &[primary-light] {
    box-shadow: $shadow-primary-light;
  }
  &[primary-normal] {
    box-shadow: $shadow-primary-dark;
  }
}
