@import "jnt-variables";
@import "../../component";

[axis1] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 2px;
  background: $jnt-red-color;
  width: 100%;
  opacity: .5;
  transform: translateY(50%);
  &[type='horizontal'] {
    background: $jnt-green-color;
  }
}

[axis2] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  background: $jnt-green-color;
  width: 2px;
  opacity: .5;
  transform: translateX(50%);
  &[type='horizontal'] {
    background: $jnt-red-color;
  }
}

[stack] {
  border: 1px dashed $jnt-secondary-color;
  height: 100%;
}

[align][host=#{$jnt-select-host}] ::ng-deep {
  [select][child-of=#{$jnt-select-host}] {
    border-color: $jnt-red-color;
  }
}

[justify][host=#{$jnt-select-host}] ::ng-deep {
  [select][child-of=#{$jnt-select-host}] {
    border-color: $jnt-green-color;
  }
}
