$jnt-gray-100: #F5F5F5;
$jnt-gray-200: #F7F7F7;
$jnt-gray-300: #F0F0F0;
$jnt-gray-400: #E9E9E9;
$jnt-gray-500: #F3F4FC;
$jnt-gray-600: #C4C4C4;
$jnt-gray-700: #D0D0D0;
$jnt-gray-800: #828282;
$jnt-gray-900: #4F4F4F;
$jnt-gray-dark: #262626;
$jnt-purple-color: #3949AB;
$jnt-purple-light-color: #6F74DD;

$jnt-gray-dark-100: #121212;

$jnt-muted-color: $jnt-gray-800;

$jnt-primary-text-color: $jnt-gray-200;
$jnt-primary-text-dark-color: $jnt-gray-100;
$jnt-primary-text-light-color: $jnt-gray-600;

$jnt-primary-background: $jnt-gray-dark;
$jnt-secondary-background: $jnt-gray-dark-100;
$jnt-page-background: $jnt-gray-dark-100;
$jnt-highlight-background: #292929;

$jnt-primary-color: $jnt-purple-light-color;
$jnt-primary-light-color: lighten($jnt-purple-light-color, 10%);
$jnt-secondary-dark-color: $jnt-gray-800;
//$jnt-primary-dark-color: $jnt-purple-color;

$jnt-control-border-color: $jnt-gray-900;

$jnt-control-field-label-color: $jnt-primary-text-light-color;
$jnt-control-field-label-border-color: $jnt-gray-900;

$jnt-control-disabled-indicator-icon-color: $jnt-gray-800;
$jnt-control-disabled-border-color: $jnt-highlight-background;
$jnt-control-disabled-background: $jnt-highlight-background;

$jnt-shadow-light: 0px 4px 10px rgba(255, 255, 255, 0.15);
$jnt-shadow-normal: 2px 1px 10px rgba(0, 67, 167, 0.07);

$jnt-body-color: $jnt-primary-text-color;

@import "variables";

[theme='dark'] {
  @import "all";
  @import 'highlight/gml';
}
