$gray-100: #F5F5F5;
$gray-200: #F7F7F7;
$gray-300: #F0F0F0;
$gray-400: #E9E9E9;
$gray-500: #F3F4FC;
$gray-600: #C4C4C4;
$gray-700: #D0D0D0;
$gray-800: #828282;
$gray-900: #4F4F4F;
$gray-dark: #343434;

$gray-dark-100: #1A1A1A;

$muted-color: $gray-800;

$primary-text-color: $gray-200;
$primary-text-dark-color: $gray-100;
$primary-text-light-color: $gray-600;

$primary-background: $gray-dark-100;
$secondary-background: $gray-800;
$page-background: $gray-dark;
$highlight-background: #292929;

$control-border-color: $gray-900;

$control-field-label-color: $primary-text-light-color;
$control-field-label-border-color: $gray-900;

$control-disabled-indicator-icon-color: $gray-800;
$control-disabled-border-color: $highlight-background;
$control-disabled-background: $highlight-background;

$shadow-light: 0px 4px 10px rgba(255, 255, 255, 0.15);
$shadow-normal: 0px 2px 8px rgba(255, 255, 255, 0.25);


@import "../../../projects/junte-ui/src/lib/assets/styles/common";
@import "../../../projects/junte-ui/src/lib/assets/styles/components";
@import "../../styles";
