$gray-200: #F7F7F7;
$gray-500: #F3F4FC;
$gray-700: #D0D0D0;
$gray-600: #C4C4C4;
$gray-800: #828282;
$gray-900: #4F4F4F;
$gray-100: #F5F5F5;
$primary-text-color: $gray-500;
$primary-dark-text-color: $gray-200;
$primary-light-text-color: $gray-600;
$gray-dark: #343434;
$gray-dark-200: #1A1A1A;
$app-aside-bg: $gray-dark-200;
$app-body-bg: $gray-dark;
$app-sub-header-bg: $gray-dark;

$avatar-bg: $gray-dark-200;
$block-bg: $gray-dark-200;
$calendar-weekend-bg: $gray-dark;
$calendar-week-day-bg: $gray-dark-200;
$checkbox-checked-disabled-indicator-icon-color: $gray-800;
$checkbox-disabled-indicator-bg: $gray-600;

$dropdown-bg: $gray-dark-200;

@import "../../../projects/junte-ui/src/lib/assets/styles/common.scss";
@import "../../../projects/junte-ui/src/lib/assets/styles/components.scss";
