$gray-200: #F7F7F7;
$gray-500: #F3F4FC;
$gray-600: #C4C4C4;
$gray-dark-100: #1A1A1A;
$gray-dark: #343434;
$gray-900: #4F4F4F;



$primary-text-color: $gray-500;
$primary-dark-text-color: $gray-200;
$primary-light-text-color: $gray-600;

$primary-background: $gray-dark-100;
$secondary-background: $gray-900;
$page-background: $gray-dark;

@import "../../../projects/junte-ui/src/lib/assets/styles/common.scss";
@import "../../../projects/junte-ui/src/lib/assets/styles/components.scss";
