<form [formGroup]="form">
  <jnt-select formControlName="lang" [allowEmpty]="false" [placement]="ui.placement.fixed" select>
    <jnt-select-option [icon]="ui.icons.unitedStatesOfAmerica"
                       label="EN"
                       i18n-label="@@label.en"
                       [key]="langs.en"></jnt-select-option>
    <jnt-select-option [icon]="ui.icons.russia"
                       label="RU"
                       i18n-label="@@label.ru"
                       [key]="langs.ru"></jnt-select-option>
  </jnt-select>
</form>
