<form [formGroup]="form">
  <jnt-select formControlName="lang" [allowEmpty]="false" select>
    <jnt-select-option [icon]="ui.icons.usa"
                       label="English"
                       i18n-label="@@label.english"
                       [key]="langs.en"></jnt-select-option>
    <jnt-select-option [icon]="ui.icons.russia"
                       label="Russian"
                       i18n-label="@@label.russian"
                       [key]="langs.ru"></jnt-select-option>
  </jnt-select>
</form>
