@import 'jnt-variables';

:host {
  display: block;
}

div[block] {
  font-size: $jnt-font-size-big;
  border-radius: 50%;
  border: 2px solid $jnt-primary-light-color;
  color: $jnt-primary-light-color;
  width: 60px;
  justify-content: center;
  align-items: center;
  height: 60px;
  display: flex;
}
